In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
mig = pd.read_csv("D:/G_Drive/internship/datascience/DS_Assignments/missing_migrants/MissingMigrantsGlobal.csv",
                 encoding='latin', sep='\t')
# |,

In [4]:
mig.head()

,Web ID,Region of Incident,Reported Date,Reported Year,Reported Month,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Location Description,Information Source,Location Coordinates,Migration Route,URL,UNSD Geographical Grouping,Source Quality
0,51591,Mediterranean,"March 28, 2019",2019,Mar,NaN,2.0,2,36.0,NaN,2.0,NaN,Presumed drowning,"Off the coast of Chios, Greece",Hellenic Coast Guard via IOM Greece,"38.362368696592, 26.172509473654",Eastern Mediterranean,NaN,Uncategorized,5
1,51588,Mediterranean,"March 26, 2019",2019,Mar,4.0,NaN,4,11.0,3.0,NaN,1.0,Presumed drowning,"Off the coast of Ayvac?k district, Çanakkale p...",Turkish Coast Guard via IOM Turkey,"39.441975591614, 26.378816195919",Eastern Mediterranean,http://bit.ly/2YmiPAN,Uncategorized,5
2,51589,Mediterranean,"March 26, 2019",2019,Mar,1.0,NaN,1,NaN,NaN,NaN,NaN,Presumed drowning,"Body recovered on Playa del Tarajal, Ceuta, Sp...","Ceuta al día, El Pueblo de Ceuta","35.871901875921, -5.343037665842",Western Mediterranean,"http://bit.ly/2uyj7qO, http://bit.ly/2uwj5zC",Uncategorized,3
3,51590,Mediterranean,"March 26, 2019",2019,Mar,1.0,NaN,1,NaN,NaN,NaN,NaN,Presumed drowning,"Body recovered on beach near Tetouan, Morocco ...",El Pueblo de Ceuta,"35.635115912988, -5.275650103548",Western Mediterranean,http://bit.ly/2uwj5zC,Uncategorized,1
4,51587,Central America,"March 25, 2019",2019,Mar,1.0,NaN,1,NaN,NaN,1.0,NaN,Fall from train,"Train tracks in Teacalco, Tlaxcala, Mexico","Megalópolis, Línea de contraste","19.334475177429, -98.069823987538",NaN,"http://bit.ly/2uvDIvH, http://bit.ly/2TXAFLS",Central America,3

In [5]:
mig.shape

(5333, 20)

In [6]:
mig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5333 entries, 0 to 5332
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Web ID                               5333 non-null   int64
 1   Region of Incident                   5333 non-null   object
 2   Reported Date                        5333 non-null   object
 3   Reported Year                        5333 non-null   int64
 4   Reported Month                       5333 non-null   object
 5   Number Dead                          5142 non-null   float64
 6   Minimum Estimated Number of Missing  503 non-null    float64
 7   Total Dead and Missing               5333 non-null   int64
 8   Number of Survivors                  749 non-null    float64
 9   Number of Females                    897 non-null    float64
 10  Number of Males                      2813 non-null   float64
 11  Number of Children                   644 non-null    float64
 12  Cause of Death                       5333 non-null   object
 13  Location Description                 5323 non-null   object
 14  Information Source                   5331 non-null   object
 15  Location Coordinates                 5332 non-null   object
 16  Migration Route                      2660 non-null   object
 17  URL                                  3192 non-null   object
 18  UNSD Geographical Grouping           5322 non-null   object
 19  Source Quality                       5333 non-null   int64
dtypes: float64(6), int64(4), object(10)
memory usage: 833.4+ KB

In [8]:
mig.isna().sum()

Web ID                                    0
Region of Incident                        0
Reported Date                             0
Reported Year                             0
Reported Month                            0
Number Dead                             191
Minimum Estimated Number of Missing    4830
Total Dead and Missing                    0
Number of Survivors                    4584
Number of Females                      4436
Number of Males                        2520
Number of Children                     4689
Cause of Death                            0
Location Description                     10
Information Source                        2
Location Coordinates                      1
Migration Route                        2673
URL                                    2141
UNSD Geographical Grouping               11
Source Quality                            0
dtype: int64

In [10]:
mig.mean()

Web ID                                 43247.885805
Reported Year                           2016.656104
Number Dead                                3.287631
Minimum Estimated Number of Missing       29.119284
Total Dead and Missing                     5.916370
Number of Survivors                       63.607477
Number of Females                          2.012263
Number of Males                            1.890864
Number of Children                         2.476708
Source Quality                             2.895556
dtype: float64

In [9]:
mig.fillna(mig.mean())

,Web ID,Region of Incident,Reported Date,Reported Year,Reported Month,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Location Description,Information Source,Location Coordinates,Migration Route,URL,UNSD Geographical Grouping,Source Quality
0,51591,Mediterranean,"March 28, 2019",2019,Mar,3.287631,2.000000,2,36.000000,2.012263,2.000000,2.476708,Presumed drowning,"Off the coast of Chios, Greece",Hellenic Coast Guard via IOM Greece,"38.362368696592, 26.172509473654",Eastern Mediterranean,NaN,Uncategorized,5
1,51588,Mediterranean,"March 26, 2019",2019,Mar,4.000000,29.119284,4,11.000000,3.000000,1.890864,1.000000,Presumed drowning,"Off the coast of Ayvac?k district, Çanakkale p...",Turkish Coast Guard via IOM Turkey,"39.441975591614, 26.378816195919",Eastern Mediterranean,http://bit.ly/2YmiPAN,Uncategorized,5
2,51589,Mediterranean,"March 26, 2019",2019,Mar,1.000000,29.119284,1,63.607477,2.012263,1.890864,2.476708,Presumed drowning,"Body recovered on Playa del Tarajal, Ceuta, Sp...","Ceuta al día, El Pueblo de Ceuta","35.871901875921, -5.343037665842",Western Mediterranean,"http://bit.ly/2uyj7qO, http://bit.ly/2uwj5zC",Uncategorized,3
3,51590,Mediterranean,"March 26, 2019",2019,Mar,1.000000,29.119284,1,63.607477,2.012263,1.890864,2.476708,Presumed drowning,"Body recovered on beach near Tetouan, Morocco ...",El Pueblo de Ceuta,"35.635115912988, -5.275650103548",Western Mediterranean,http://bit.ly/2uwj5zC,Uncategorized,1
4,51587,Central America,"March 25, 2019",2019,Mar,1.000000,29.119284,1,63.607477,2.012263,1.000000,2.476708,Fall from train,"Train tracks in Teacalco, Tlaxcala, Mexico","Megalópolis, Línea de contraste","19.334475177429, -98.069823987538",NaN,"http://bit.ly/2uvDIvH, http://bit.ly/2TXAFLS",Central America,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5328,39207,US-Mexico Border,"January 16, 2014",2014,Jan,1.000000,29.119284,1,63.607477,2.012263,1.000000,2.476708,Shot,"near Douglas, Arizona",Ministry of Foreign Affairs Mexico,"31.344700000000, -109.545000000000",Central America to US,http://bit.ly/1qfIw00,Northern America,5
5329,39368,Europe,"January 16, 2014",2014,Jan,1.000000,0.000000,1,2.000000,2.012263,1.000000,2.476708,Hyperthermia,Border between Russia and Estonia,EUBusiness (Agence France-Presse),"59.155100000000, 27.858600000000",NaN,http://bit.ly/1rTFTjR,Northern Europe,1
5330,39257,US-Mexico Border,"January 14, 2014",2014,Jan,1.000000,29.119284,1,63.607477,2.012263,1.890864,2.476708,Unknown (skeletal remains),Pima County,Pima County Office of the Medical Examiner,"32.058118300000, -111.623576100000",Central America to US,NaN,Northern America,5
5331,39256,US-Mexico Border,"January 12, 2014",2014,Jan,1.000000,29.119284,1,63.607477,2.012263,1.890864,2.476708,Unknown (skeletal remains),Pima County,Pima County Office of the Medical Examiner,"32.058118300000, -111.623576100000",Central America to US,NaN,Northern America,5
5332,39206,US-Mexico Border,"January 06, 2014",2014,Jan,1.000000,29.119284,1,63.607477,2.012263,1.000000,2.476708,Unknown (skeletal remains),Pima County,Humane Borders Arizona Open GIS Initiative,"32.058118300000, -111.623576100000",Central America to US,http://humaneborders.info/,Northern America,5

#### 1.	What are the Top 10 Region of Incidents with higher incidents?

In [17]:
reg = mig['Region of Incident'].value_counts()[:10]

In [18]:
reg

US-Mexico Border      1337
North Africa          1239
Mediterranean          984
Sub-Saharan Africa     475
Central America        309
Europe                 249
Horn of Africa         235
Middle East            164
South Asia             151
Southeast Asia          96
Name: Region of Incident, dtype: int64

In [15]:
mig['Region of Incident'].value_counts(sort=False)

Mediterranean          984
South America           28
US-Mexico Border      1337
North Africa          1239
Middle East            164
North America            1
Europe                 249
East Asia                5
Horn of Africa         235
Sub-Saharan Africa     475
Caribbean               59
Southeast Asia          96
Central Asia             1
South Asia             151
Central America        309
Name: Region of Incident, dtype: int64

#### 2.	What is the Percentage of missing Females, Males and Children in top 10 regions of incidents?

In [15]:
(mig.groupby("Region of Incident")["Number of Females"].sum()/mig["Number of Females"].sum())*100

Region of Incident
Caribbean              2.105263
Central America        2.160665
Central Asia           0.000000
East Asia              0.055402
Europe                 1.939058
Horn of Africa         3.878116
Mediterranean         44.930748
Middle East            3.324100
North Africa          14.681440
North America          0.055402
South America          0.720222
South Asia             0.997230
Southeast Asia         8.310249
Sub-Saharan Africa    11.468144
US-Mexico Border       5.373961
Name: Number of Females, dtype: float64

In [23]:
(mig[mig['Region of Incident'] == "US-Mexico Border"]['Number of Females'].sum()/mig['Number of Females'].sum())*100

5.373961218836564

In [27]:
reg.index

Index(['US-Mexico Border', 'North Africa', 'Mediterranean',
       'Sub-Saharan Africa', 'Central America', 'Europe', 'Horn of Africa',
       'Middle East', 'South Asia', 'Southeast Asia'],
      dtype='object')

In [28]:
f = (mig.groupby("Region of Incident")["Number of Females"].sum()/mig["Number of Females"].sum())*100

In [31]:
f.size

15

In [32]:
reg

US-Mexico Border      1337
North Africa          1239
Mediterranean          984
Sub-Saharan Africa     475
Central America        309
Europe                 249
Horn of Africa         235
Middle East            164
South Asia             151
Southeast Asia          96
Name: Region of Incident, dtype: int64

In [43]:
f[f.index.isin(reg.index)]

Region of Incident
Central America        2.160665
Europe                 1.939058
Horn of Africa         3.878116
Mediterranean         44.930748
Middle East            3.324100
North Africa          14.681440
South Asia             0.997230
Southeast Asia         8.310249
Sub-Saharan Africa    11.468144
US-Mexico Border       5.373961
Name: Number of Females, dtype: float64

In [41]:
f

Region of Incident
Caribbean              2.105263
Central America        2.160665
Central Asia           0.000000
East Asia              0.055402
Europe                 1.939058
Horn of Africa         3.878116
Mediterranean         44.930748
Middle East            3.324100
North Africa          14.681440
North America          0.055402
South America          0.720222
South Asia             0.997230
Southeast Asia         8.310249
Sub-Saharan Africa    11.468144
US-Mexico Border       5.373961
Name: Number of Females, dtype: float64

In [44]:
f[f.index.isin(reg.index)]

Region of Incident
Central America        2.160665
Europe                 1.939058
Horn of Africa         3.878116
Mediterranean         44.930748
Middle East            3.324100
North Africa          14.681440
South Asia             0.997230
Southeast Asia         8.310249
Sub-Saharan Africa    11.468144
US-Mexico Border       5.373961
Name: Number of Females, dtype: float64

In [45]:
f = (mig.groupby("Region of Incident")["Number of Females"].sum()/mig["Number of Females"].sum())*100
m = (mig.groupby("Region of Incident")["Number of Males"].sum()/mig["Number of Males"].sum())*100
c = (mig.groupby("Region of Incident")["Number of Children"].sum()/mig["Number of Children"].sum())*100

In [46]:
f[f.index.isin(reg.index)]

Region of Incident
Central America        2.160665
Europe                 1.939058
Horn of Africa         3.878116
Mediterranean         44.930748
Middle East            3.324100
North Africa          14.681440
South Asia             0.997230
Southeast Asia         8.310249
Sub-Saharan Africa    11.468144
US-Mexico Border       5.373961
Name: Number of Females, dtype: float64

In [47]:
m[m.index.isin(reg.index)]

Region of Incident
Central America        6.016168
Europe                 5.170145
Horn of Africa         4.436924
Mediterranean         35.683399
Middle East            2.669675
North Africa          11.223914
South Asia             3.384095
Southeast Asia         2.481669
Sub-Saharan Africa     8.385035
US-Mexico Border      18.593721
Name: Number of Males, dtype: float64

In [48]:
c[c.index.isin(reg.index)]

Region of Incident
Central America        3.009404
Europe                 2.445141
Horn of Africa         2.758621
Mediterranean         42.006270
Middle East            4.576803
North Africa           9.028213
South Asia             1.128527
Southeast Asia        22.758621
Sub-Saharan Africa     9.278997
US-Mexico Border       1.630094
Name: Number of Children, dtype: float64

#### 3.	List most common Information Source according to region of incident wise

In [53]:
mig.groupby("Region of Incident")['Information Source'].value_counts()

Region of Incident  Information Source
Caribbean           Dominican Today                  3
                    El Nuevo Herald                  3
                    Listin Diario                    2
                    US Coast Guard                   2
                    14ymedio                         1
                                                    ..
US-Mexico Border    Zócalo, SuperChannel 12          1
                    Zócalo, Telemundo San Antonio    1
                    Zócalo, Vanguardia               1
                    canalestrellatv                  1
                    netnoticias.mx                   1
Name: Information Source, Length: 1464, dtype: int64

#### 5. List number of cases reported month wise in year 2019

In [57]:
mig[mig['Reported Year'] == 2019]['Reported Month'].value_counts()

Jan    57
Feb    51
Mar    35
Name: Reported Month, dtype: int64

In [58]:
pd.to_datetime(mig['Reported Date'])

0      2019-03-28
1      2019-03-26
2      2019-03-26
3      2019-03-26
4      2019-03-25
          ...
5328   2014-01-16
5329   2014-01-16
5330   2014-01-14
5331   2014-01-12
5332   2014-01-06
Name: Reported Date, Length: 5333, dtype: datetime64[ns]

#### 7.	List number of cases reported yearwise and compare them¶

In [59]:
mig['Reported Year'].value_counts()

2018    1506
2017    1356
2016    1275
2015     808
2014     245
2019     143
Name: Reported Year, dtype: int64

In [3]:
tip = sns.load_dataset("tips")

In [61]:
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [64]:
tip.agg({'total_bill': np.mean, 'tip': np.mean})

total_bill    19.785943
tip            2.998279
dtype: float64

In [67]:
tip['tip'].agg(min)

1.0

In [68]:
tip['tip'].agg(np.mean)

2.9982786885245902

In [69]:
tip.agg({'total_bill': np.mean, 'tip': [np.mean, np.std]})

      total_bill       tip
mean   19.785943  2.998279
std          NaN  1.383638

In [70]:
tip.agg({'total_bill': [np.mean, np.std], 'tip': [np.mean, np.std]})

      total_bill       tip
mean   19.785943  2.998279
std     8.902412  1.383638

In [71]:
tip.agg({'total_bill': [np.mean, np.std], 'tip': [np.mean, np.std, min]})

      total_bill       tip
mean   19.785943  2.998279
std     8.902412  1.383638
min          NaN  1.000000

In [78]:
tip.agg({'total_bill': [np.mean, np.std], 'tip': [np.mean, np.std, min], 'size': np.mean})

      total_bill       tip      size
mean   19.785943  2.998279  2.569672
std     8.902412  1.383638       NaN
min          NaN  1.000000       NaN

In [81]:
tip.groupby("sex").agg({'total_bill': np.mean, 'tip': np.mean})

        total_bill       tip
sex
Male     20.744076  3.089618
Female   18.056897  2.833448

In [4]:
gr = tip.groupby(['sex', 'day']).agg({'size': max})

In [5]:
gr

             size
sex    day
Male   Thur     6
       Fri      4
       Sat      5
       Sun      6
Female Thur     6
       Fri      3
       Sat      4
       Sun      5

In [6]:
gr.loc["Male"].loc['Sat']

size    5
Name: Sat, dtype: int64

In [8]:
gr.loc['Male'].loc['Sat']

size    5
Name: Sat, dtype: int64

In [9]:
gr.index

MultiIndex([(  'Male', 'Thur'),
            (  'Male',  'Fri'),
            (  'Male',  'Sat'),
            (  'Male',  'Sun'),
            ('Female', 'Thur'),
            ('Female',  'Fri'),
            ('Female',  'Sat'),
            ('Female',  'Sun')],
           names=['sex', 'day'])

In [11]:
gr.loc[(  'Male',  'Sat')]

size    5
Name: (Male, Sat), dtype: int64

In [12]:
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
### tip practice