In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
students = pd.DataFrame({
    "Name": ['Ashish', 'Priya', 'Aman', 'Lakshya', 'Heta', 'Hanzal', 'Anjali', 'Surbhi', 'Suraj'],
    "Height": np.random.randint(140, 190, 9),
    "Weight": np.random.randint(50, 80, 9),
    "Age": np.random.randint(22, 30, 9),
    "Gender": pd.Categorical(['M', 'F', 'M', 'M', 'F', 'M', 'F', 'F', 'M'])
})

In [3]:
students

      Name  Height  Weight  Age Gender
0   Ashish     174      71   23      M
1    Priya     156      54   26      F
2     Aman     152      66   22      M
3  Lakshya     176      54   28      M
4     Heta     187      69   25      F
5   Hanzal     142      73   26      M
6   Anjali     168      62   27      F
7   Surbhi     162      59   27      F
8    Suraj     161      79   22      M

In [5]:
students['Name']

0     Ashish
1      Priya
2       Aman
3    Lakshya
4       Heta
5     Hanzal
6     Anjali
7     Surbhi
8      Suraj
Name: Name, dtype: object

In [6]:
students[['Name', 'Height']]

      Name  Height
0   Ashish     174
1    Priya     156
2     Aman     152
3  Lakshya     176
4     Heta     187
5   Hanzal     142
6   Anjali     168
7   Surbhi     162
8    Suraj     161

In [7]:
type(students[['Name', 'Height']])

pandas.core.frame.DataFrame

In [9]:
type(students[['Name']])

pandas.core.frame.DataFrame

In [10]:
students[0]

KeyError: 0

    555555555
    544444445
    543333345
    543222345
    543212345
    543222345
    543333345
    544444445
    555555555

    loc 
        df_object.loc[row_label, column_label]
        
    iloc
        df_object.loc[row_index, column_index]

In [11]:
students.iloc[0, 0]  # 0 index row and 0 index column

'Ashish'

In [13]:
students.iloc[0]

Name      Ashish
Height       174
Weight        71
Age           23
Gender         M
Name: 0, dtype: object

In [14]:
students.iloc[0, ::-1]

Gender         M
Age           23
Weight        71
Height       174
Name      Ashish
Name: 0, dtype: object

In [15]:
students.iloc[::-1, ::-1]

  Gender  Age  Weight  Height     Name
8      M   22      79     161    Suraj
7      F   27      59     162   Surbhi
6      F   27      62     168   Anjali
5      M   26      73     142   Hanzal
4      F   25      69     187     Heta
3      M   28      54     176  Lakshya
2      M   22      66     152     Aman
1      F   26      54     156    Priya
0      M   23      71     174   Ashish

In [16]:
students.iloc[[0, 2, 4, 7], [0, 2, 3]]

     Name  Weight  Age
0  Ashish      71   23
2    Aman      66   22
4    Heta      69   25
7  Surbhi      59   27

    here the labels are from 0 to 8 and the index are also same

In [17]:
students.loc[0]

Name      Ashish
Height       174
Weight        71
Age           23
Gender         M
Name: 0, dtype: object

In [18]:
students.loc[0, 0]

KeyError: 0

In [19]:
students.loc[0, 'Name']

'Ashish'

In [20]:
students.loc[::2, ::2]

     Name  Weight Gender
0  Ashish      71      M
2    Aman      66      M
4    Heta      69      F
6  Anjali      62      F
8   Suraj      79      M

In [21]:
students.loc[::2, :4:2]

TypeError: cannot do slice indexing on Index with these indexers [4] of type int

In [22]:
students.iloc[::2, :4:2]

     Name  Weight
0  Ashish      71
2    Aman      66
4    Heta      69
6  Anjali      62
8   Suraj      79

In [23]:
students.loc[::2, 'Name':'Weight':2]

     Name  Weight
0  Ashish      71
2    Aman      66
4    Heta      69
6  Anjali      62
8   Suraj      79

In [24]:
students

      Name  Height  Weight  Age Gender
0   Ashish     174      71   23      M
1    Priya     156      54   26      F
2     Aman     152      66   22      M
3  Lakshya     176      54   28      M
4     Heta     187      69   25      F
5   Hanzal     142      73   26      M
6   Anjali     168      62   27      F
7   Surbhi     162      59   27      F
8    Suraj     161      79   22      M

In [26]:
students.iloc[::2, :2:2]  # 0, (0+2) (not include)

     Name
0  Ashish
2    Aman
4    Heta
6  Anjali
8   Suraj

In [27]:
students.loc[2:5, :'Age']

      Name  Height  Weight  Age
2     Aman     152      66   22
3  Lakshya     176      54   28
4     Heta     187      69   25
5   Hanzal     142      73   26

In [29]:
students.loc[[0, 1, 5, 8], ['Age', 'Name', 'Weight']]

   Age    Name  Weight
0   23  Ashish      71
1   26   Priya      54
5   26  Hanzal      73
8   22   Suraj      79

In [30]:
students.index

RangeIndex(start=0, stop=9, step=1)

In [34]:
date = pd.date_range('080821', periods=9)

In [35]:
type(date)

pandas.core.indexes.datetimes.DatetimeIndex

In [36]:
date

DatetimeIndex(['2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11',
               '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15',
               '2021-08-16'],
              dtype='datetime64[ns]', freq='D')

In [37]:
help(pd.date_range)

Help on function date_range in module pandas.core.indexes.datetimes:

date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs) -> pandas.core.indexes.datetimes.DatetimeIndex
    Return a fixed frequency DatetimeIndex.

    Parameters
    ----------
    start : str or datetime-like, optional
        Left bound for generating dates.
    end : str or datetime-like, optional
        Right bound for generating dates.
    periods : int, optional
        Number of periods to generate.
    freq : str or DateOffset, default 'D'
        Frequency strings can have multiples, e.g. '5H'. See
        :ref:`here <timeseries.offset_aliases>` for a list of
        frequency aliases.
    tz : str or tzinfo, optional
        Time zone name for returning localized DatetimeIndex, for example
        'Asia/Hong_Kong'. By default, the resulting DatetimeIndex is
        timezone-naive.
    normalize : bool, default False
        Normalize start/end dates to midnight before generating date range.
    name : str, default None
        Name of the resulting DatetimeIndex.
    closed : {None, 'left', 'right'}, optional
        Make the interval closed with respect to the given frequency to
        the 'left', 'right', or both sides (None, the default).
    **kwargs
        For compatibility. Has no effect on the result.

    Returns
    -------
    rng : DatetimeIndex

    See Also
    --------
    DatetimeIndex : An immutable container for datetimes.
    timedelta_range : Return a fixed frequency TimedeltaIndex.
    period_range : Return a fixed frequency PeriodIndex.
    interval_range : Return a fixed frequency IntervalIndex.

    Notes
    -----
    Of the four parameters ``start``, ``end``, ``periods``, and ``freq``,
    exactly three must be specified. If ``freq`` is omitted, the resulting
    ``DatetimeIndex`` will have ``periods`` linearly spaced elements between
    ``start`` and ``end`` (closed on both sides).

    To learn more about the frequency strings, please see `this link
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases>`__.

    Examples
    --------
    **Specifying the values**

    The next four examples generate the same `DatetimeIndex`, but vary
    the combination of `start`, `end` and `periods`.

    Specify `start` and `end`, with the default daily frequency.

    >>> pd.date_range(start='1/1/2018', end='1/08/2018')
    DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
                   '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
                  dtype='datetime64[ns]', freq='D')

    Specify `start` and `periods`, the number of periods (days).

    >>> pd.date_range(start='1/1/2018', periods=8)
    DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
                   '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
                  dtype='datetime64[ns]', freq='D')

    Specify `end` and `periods`, the number of periods (days).

    >>> pd.date_range(end='1/1/2018', periods=8)
    DatetimeIndex(['2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
                   '2017-12-29', '2017-12-30', '2017-12-31', '2018-01-01'],
                  dtype='datetime64[ns]', freq='D')

    Specify `start`, `end`, and `periods`; the frequency is generated
    automatically (linearly spaced).

    >>> pd.date_range(start='2018-04-24', end='2018-04-27', periods=3)
    DatetimeIndex(['2018-04-24 00:00:00', '2018-04-25 12:00:00',
                   '2018-04-27 00:00:00'],
                  dtype='datetime64[ns]', freq=None)

    **Other Parameters**

    Changed the `freq` (frequency) to ``'M'`` (month end frequency).

    >>> pd.date_range(start='1/1/2018', periods=5, freq='M')
    DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
                   '2018-05-31'],
                  dtype='datetime64[ns]', freq='M')

    Multiples are allowed

    >>> pd.date_range(start='1/1/2018', periods=5, freq='3M')
    DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
                   '2019-01-31'],
                  dtype='datetime64[ns]', freq='3M')

    `freq` can also be specified as an Offset object.

    >>> pd.date_range(start='1/1/2018', periods=5, freq=pd.offsets.MonthEnd(3))
    DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
                   '2019-01-31'],
                  dtype='datetime64[ns]', freq='3M')

    Specify `tz` to set the timezone.

    >>> pd.date_range(start='1/1/2018', periods=5, tz='Asia/Tokyo')
    DatetimeIndex(['2018-01-01 00:00:00+09:00', '2018-01-02 00:00:00+09:00',
                   '2018-01-03 00:00:00+09:00', '2018-01-04 00:00:00+09:00',
                   '2018-01-05 00:00:00+09:00'],
                  dtype='datetime64[ns, Asia/Tokyo]', freq='D')

    `closed` controls whether to include `start` and `end` that are on the
    boundary. The default includes boundary points on either end.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed=None)
    DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04'],
                  dtype='datetime64[ns]', freq='D')

    Use ``closed='left'`` to exclude `end` if it falls on the boundary.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed='left')
    DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03'],
                  dtype='datetime64[ns]', freq='D')

    Use ``closed='right'`` to exclude `start` if it falls on the boundary.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed='right')
    DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04'],
                  dtype='datetime64[ns]', freq='D')

In [39]:
pd.date_range('080821', '190821', periods=10)

DatetimeIndex(['2021-08-08 00:00:00', '2021-08-09 05:20:00',
               '2021-08-10 10:40:00', '2021-08-11 16:00:00',
               '2021-08-12 21:20:00', '2021-08-14 02:40:00',
               '2021-08-15 08:00:00', '2021-08-16 13:20:00',
               '2021-08-17 18:40:00', '2021-08-19 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [41]:
pd.date_range('080821', '190821', periods=12)

DatetimeIndex(['2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11',
               '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15',
               '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19'],
              dtype='datetime64[ns]', freq=None)

In [42]:
pd.date_range('080821', '190821', periods=6)

DatetimeIndex(['2021-08-08 00:00:00', '2021-08-10 04:48:00',
               '2021-08-12 09:36:00', '2021-08-14 14:24:00',
               '2021-08-16 19:12:00', '2021-08-19 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [44]:
pd.date_range('080821', periods=10, freq='D')

DatetimeIndex(['2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11',
               '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15',
               '2021-08-16', '2021-08-17'],
              dtype='datetime64[ns]', freq='D')

In [45]:
pd.date_range('160821', periods=10, freq='2D')

DatetimeIndex(['2021-08-16', '2021-08-18', '2021-08-20', '2021-08-22',
               '2021-08-24', '2021-08-26', '2021-08-28', '2021-08-30',
               '2021-09-01', '2021-09-03'],
              dtype='datetime64[ns]', freq='2D')

In [46]:
pd.date_range('160821', periods=10, freq='M')

DatetimeIndex(['2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30',
               '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31',
               '2022-04-30', '2022-05-31'],
              dtype='datetime64[ns]', freq='M')

In [47]:
pd.date_range('160821', periods=10, freq='2M')

DatetimeIndex(['2021-08-31', '2021-10-31', '2021-12-31', '2022-02-28',
               '2022-04-30', '2022-06-30', '2022-08-31', '2022-10-31',
               '2022-12-31', '2023-02-28'],
              dtype='datetime64[ns]', freq='2M')

In [48]:
pd.date_range('160821', periods=10, freq='Y')

DatetimeIndex(['2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [49]:
pd.date_range('160821', periods=10, freq='2Y')

DatetimeIndex(['2021-12-31', '2023-12-31', '2025-12-31', '2027-12-31',
               '2029-12-31', '2031-12-31', '2033-12-31', '2035-12-31',
               '2037-12-31', '2039-12-31'],
              dtype='datetime64[ns]', freq='2A-DEC')

In [50]:
pd.date_range('160821', periods=10, freq='A-MAY')

DatetimeIndex(['2022-05-31', '2023-05-31', '2024-05-31', '2025-05-31',
               '2026-05-31', '2027-05-31', '2028-05-31', '2029-05-31',
               '2030-05-31', '2031-05-31'],
              dtype='datetime64[ns]', freq='A-MAY')

In [51]:
pd.date_range('160821', periods=10, freq='A-OCT')

DatetimeIndex(['2021-10-31', '2022-10-31', '2023-10-31', '2024-10-31',
               '2025-10-31', '2026-10-31', '2027-10-31', '2028-10-31',
               '2029-10-31', '2030-10-31'],
              dtype='datetime64[ns]', freq='A-OCT')

In [52]:
pd.date_range('16/08/21', periods=10, freq='A-OCT')

DatetimeIndex(['2021-10-31', '2022-10-31', '2023-10-31', '2024-10-31',
               '2025-10-31', '2026-10-31', '2027-10-31', '2028-10-31',
               '2029-10-31', '2030-10-31'],
              dtype='datetime64[ns]', freq='A-OCT')

In [53]:
# 2021/10/31

In [59]:
pd.date_range('16/08/21', periods=10).strftime("%d/%m/%y")

Index(['16/08/21', '17/08/21', '18/08/21', '19/08/21', '20/08/21', '21/08/21',
       '22/08/21', '23/08/21', '24/08/21', '25/08/21'],
      dtype='object')

In [60]:
pd.date_range('16/08/21', periods=10).strftime("%x")

Index(['08/16/21', '08/17/21', '08/18/21', '08/19/21', '08/20/21', '08/21/21',
       '08/22/21', '08/23/21', '08/24/21', '08/25/21'],
      dtype='object')

In [63]:
pd.date_range('16/08/21', periods=10)

DatetimeIndex(['2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19',
               '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23',
               '2021-08-24', '2021-08-25'],
              dtype='datetime64[ns]', freq='D')

In [64]:
pd.date_range('160221', periods=10, freq='T')

DatetimeIndex(['2021-02-16 00:00:00', '2021-02-16 00:01:00',
               '2021-02-16 00:02:00', '2021-02-16 00:03:00',
               '2021-02-16 00:04:00', '2021-02-16 00:05:00',
               '2021-02-16 00:06:00', '2021-02-16 00:07:00',
               '2021-02-16 00:08:00', '2021-02-16 00:09:00'],
              dtype='datetime64[ns]', freq='T')

In [67]:
pd.date_range('160221', periods=10, freq='2H')

DatetimeIndex(['2021-02-16 00:00:00', '2021-02-16 02:00:00',
               '2021-02-16 04:00:00', '2021-02-16 06:00:00',
               '2021-02-16 08:00:00', '2021-02-16 10:00:00',
               '2021-02-16 12:00:00', '2021-02-16 14:00:00',
               '2021-02-16 16:00:00', '2021-02-16 18:00:00'],
              dtype='datetime64[ns]', freq='2H')

In [69]:
students.index = pd.date_range('16/08/21', periods=9)

In [70]:
students

               Name  Height  Weight  Age Gender
2021-08-16   Ashish     174      71   23      M
2021-08-17    Priya     156      54   26      F
2021-08-18     Aman     152      66   22      M
2021-08-19  Lakshya     176      54   28      M
2021-08-20     Heta     187      69   25      F
2021-08-21   Hanzal     142      73   26      M
2021-08-22   Anjali     168      62   27      F
2021-08-23   Surbhi     162      59   27      F
2021-08-24    Suraj     161      79   22      M

In [72]:
students.iloc[0, 0]

'Ashish'

In [73]:
students.loc[0, 'Name']

KeyError: 0

In [74]:
students.loc['2021-8-16']

Name      Ashish
Height       174
Weight        71
Age           23
Gender         M
Name: 2021-08-16 00:00:00, dtype: object

In [76]:
students.loc['2021-8-16', ['Name', 'Weight']]

Name      Ashish
Weight        71
Name: 2021-08-16 00:00:00, dtype: object

In [77]:
students.loc['2021-8-16':'2021-8-19', ['Name', 'Weight']]

               Name  Weight
2021-08-16   Ashish      71
2021-08-17    Priya      54
2021-08-18     Aman      66
2021-08-19  Lakshya      54

In [78]:
students.loc['2021-8-16':'2021-8-21':2, ['Name', 'Weight', 'Age']]

              Name  Weight  Age
2021-08-16  Ashish      71   23
2021-08-18    Aman      66   22
2021-08-20    Heta      69   25

    iat
        df_object.iat[row_index, col_index]
        you cannot use slicing with iat
        
    at
        df_object.at[row_label, col_label]
        slicing not possible

In [79]:
students.iat[0, 0]

'Ashish'

In [81]:
students.iat[1, -1]

'F'

In [82]:
students

               Name  Height  Weight  Age Gender
2021-08-16   Ashish     174      71   23      M
2021-08-17    Priya     156      54   26      F
2021-08-18     Aman     152      66   22      M
2021-08-19  Lakshya     176      54   28      M
2021-08-20     Heta     187      69   25      F
2021-08-21   Hanzal     142      73   26      M
2021-08-22   Anjali     168      62   27      F
2021-08-23   Surbhi     162      59   27      F
2021-08-24    Suraj     161      79   22      M

In [84]:
students[:, :]

TypeError: '(slice(None, None, None), slice(None, None, None))' is an invalid key

In [90]:
%%timeit 

students.iat[4, 2]

23.1 µs ± 1.15 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [88]:
students.iloc[4, 2]

69

In [91]:
%%timeit

students.iloc[4, 2]

24.8 µs ± 886 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [92]:
students.loc[0, 0]

KeyError: 0

In [93]:
students.at[0, 0]

KeyError: 0

In [95]:
students.loc['2021-08-19']

Name      Lakshya
Height        176
Weight         54
Age            28
Gender          M
Name: 2021-08-19 00:00:00, dtype: object

In [97]:
students.at['2021-08-19', 'Weight']

54

In [98]:
students.loc['2021-08-19', 'Weight']

54

In [99]:
students.loc[:'2021-08-19', :'Weight']

               Name  Height  Weight
2021-08-16   Ashish     174      71
2021-08-17    Priya     156      54
2021-08-18     Aman     152      66
2021-08-19  Lakshya     176      54

In [100]:
students.at[:'2021-08-19', :'Weight']

TypeError: unhashable type: 'slice'

In [101]:
%%timeit 

students.loc['2021-08-19', 'Weight']

480 µs ± 9.08 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [102]:
%%timeit 

students.at['2021-08-19', 'Weight']

162 µs ± 4.99 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [103]:
print(dir(students))

['Age', 'Gender', 'Height', 'Name', 'T', 'Weight', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_aggregate', '_align_frame', '_align_series', '_arith_method', '_attrs', '_box_col_values', '_builtin_table', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_count_level', '_cython_table', '_data', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_from_arrays', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_column_array', '_get_cython_func', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_getitem_bool_array', '_getitem_multilevel', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_item_cache', '_iter_column_arrays', '_ix', '_ixs', '_join_compat', '_logical_func', '_logical_method', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_series', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

In [105]:
students['Gender'].value_counts()

M    5
F    4
Name: Gender, dtype: int64

In [106]:
students.value_counts()

Name     Height  Weight  Age  Gender
Aman     152     66      22   M         1
Anjali   168     62      27   F         1
Ashish   174     71      23   M         1
Hanzal   142     73      26   M         1
Heta     187     69      25   F         1
Lakshya  176     54      28   M         1
Priya    156     54      26   F         1
Suraj    161     79      22   M         1
Surbhi   162     59      27   F         1
dtype: int64

In [107]:
students.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [108]:
students.where(students['Age']>20)

               Name  Height  Weight  Age Gender
2021-08-16   Ashish     174      71   23      M
2021-08-17    Priya     156      54   26      F
2021-08-18     Aman     152      66   22      M
2021-08-19  Lakshya     176      54   28      M
2021-08-20     Heta     187      69   25      F
2021-08-21   Hanzal     142      73   26      M
2021-08-22   Anjali     168      62   27      F
2021-08-23   Surbhi     162      59   27      F
2021-08-24    Suraj     161      79   22      M

In [110]:
students.where(students['Age']<=20)

           Name  Height  Weight  Age Gender
2021-08-16  NaN     NaN     NaN  NaN    NaN
2021-08-17  NaN     NaN     NaN  NaN    NaN
2021-08-18  NaN     NaN     NaN  NaN    NaN
2021-08-19  NaN     NaN     NaN  NaN    NaN
2021-08-20  NaN     NaN     NaN  NaN    NaN
2021-08-21  NaN     NaN     NaN  NaN    NaN
2021-08-22  NaN     NaN     NaN  NaN    NaN
2021-08-23  NaN     NaN     NaN  NaN    NaN
2021-08-24  NaN     NaN     NaN  NaN    NaN

In [112]:
students.where(students['Age']>25)

               Name  Height  Weight   Age Gender
2021-08-16      NaN     NaN     NaN   NaN    NaN
2021-08-17    Priya   156.0    54.0  26.0      F
2021-08-18      NaN     NaN     NaN   NaN    NaN
2021-08-19  Lakshya   176.0    54.0  28.0      M
2021-08-20      NaN     NaN     NaN   NaN    NaN
2021-08-21   Hanzal   142.0    73.0  26.0      M
2021-08-22   Anjali   168.0    62.0  27.0      F
2021-08-23   Surbhi   162.0    59.0  27.0      F
2021-08-24      NaN     NaN     NaN   NaN    NaN

In [114]:
students.T   # rows --> col and col --> rows

,2021-08-16,2021-08-17,2021-08-18,2021-08-19,2021-08-20,2021-08-21,2021-08-22,2021-08-23,2021-08-24
Name,Ashish,Priya,Aman,Lakshya,Heta,Hanzal,Anjali,Surbhi,Suraj
Height,174,156,152,176,187,142,168,162,161
Weight,71,54,66,54,69,73,62,59,79
Age,23,26,22,28,25,26,27,27,22
Gender,M,F,M,M,F,M,F,F,M

In [123]:
students['Name'].str.startswith('A')

2021-08-16     True
2021-08-17    False
2021-08-18     True
2021-08-19    False
2021-08-20    False
2021-08-21    False
2021-08-22     True
2021-08-23    False
2021-08-24    False
Freq: D, Name: Name, dtype: bool

In [124]:
students[students['Name'].str.startswith('A')]

              Name  Height  Weight  Age Gender
2021-08-16  Ashish     174      71   23      M
2021-08-18    Aman     152      66   22      M
2021-08-22  Anjali     168      62   27      F

In [125]:
#### dataset