In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ecom = pd.read_csv("D:C_DRIVE/batches/online_batch/batch9am/Ecommerce Purchases.csv")

In [3]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [4]:
ecom.shape

(10000, 14)

In [5]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [6]:
ecom.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

In [11]:
ecom['Email'].apply(lambda x: x.split("@")[1]).value_counts()[:5]

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

### How many IPs belong to A class, B class and C class ????

In [12]:
ecom

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [16]:
calssA = []
classB = []
classC = []
ecom['IP ADDRESS'].apply(lambda x:x.split('.')[0]) if x [0] in range(0,128) : classA.append(x) ,elif x[0] in (128 ,198): classB.append(x) , elif x in (192 ,224) : classC.append(x) , print(classA ,classB ,calssC)

SyntaxError: invalid syntax (<ipython-input-16-5a4924dae5f3>, line 4)

In [20]:
def classes(x):
    one = int(x.split(".")[0])
    if 1<=one<=126:
        return "Class A"
    elif 128<=one<=191:
        return 'Class B'
    elif 192<=one<=223:
        return 'Class C'
    elif 224<=one<=239:
        return 'Class D'

In [22]:
ecom['IP Address'].apply(classes).value_counts()

Class A    4989
Class B    2467
Class C    1268
Class D     593
Name: IP Address, dtype: int64

In [23]:
ecom['Classes'] = ecom['IP Address'].apply(classes)

In [26]:
ecom[ecom['Classes'] == "Class C"].head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Classes
17,950 Jacqueline Village Apt. 592\nPort Kimberly...,23 Rh,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Fernandez, Melton and Gilbert",3337515540944084,01/26,771,American Express,stacymitchell@hall.com,"Designer, jewellery",223.25.125.61,el,58.68,Class C
29,"30755 Joshua Plaza Apt. 567\nWest Susanton, FM...",93 OP,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_7...,Goodwin Ltd,4170734785397597,07/22,319,Maestro,stonekaren@yahoo.com,Recycling officer,218.189.145.248,it,82.16,Class C
30,"849 Tony Unions Apt. 654\nSnowchester, SD 66068",76 zr,PM,Mozilla/5.0 (Windows NT 6.2) AppleWebKit/5341 ...,Mills-Stewart,4262383666841320,04/17,412,Diners Club / Carte Blanche,laurahess@hotmail.com,Fisheries officer,215.63.180.154,ru,8.43,Class C
32,Unit 3628 Box 6778\nDPO AE 72362,39 Qm,PM,Mozilla/5.0 (Windows 98; Win 9x 4.90) AppleWeb...,Martinez-Wilson,4942281854569455,01/20,8360,JCB 16 digit,shane21@atkinson.com,Civil Service fast streamer,196.37.134.217,pt,56.63,Class C
35,"93392 Webb Gardens Apt. 220\nLaurabury, AR 999...",37 om,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Mora Ltd,6011049630969815,09/16,367,Mastercard,hgonzalez@mcdowell.com,"Lecturer, further education",216.23.95.40,zh,97.46,Class C

In [28]:
ecom['Browser Info'][0]

'Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2.9.183 Version/12.00'

In [29]:
ecom['Browser Info'][:5]

0    Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
1    Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...
2    Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
3    Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...
4    Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...
Name: Browser Info, dtype: object

### Top 5 browsers

In [38]:
ecom['Browser Info'].apply(lambda x: x.split("(")[0]).value_counts()

Mozilla/5.0     7924
Opera/9.34.       23
Opera/8.51.       22
Opera/8.74.       21
Opera/8.38.       20
                ...
Opera/8.55.        5
Opera/9.50.        4
Opera/9.77.        4
Opera/8.80.        4
Opera/8.15.        3
Name: Browser Info, Length: 181, dtype: int64

In [37]:
ecom['Browser Info'].apply(lambda x: x.split("(")[0].strip(".")).value_counts()

Mozilla/5.0     7924
Opera/9.34        23
Opera/8.51        22
Opera/8.74        21
Opera/8.38        20
                ...
Opera/8.55         5
Opera/9.50         4
Opera/9.77         4
Opera/8.80         4
Opera/8.15         3
Name: Browser Info, Length: 181, dtype: int64

In [39]:
ecom['Browser Info'].apply(lambda x: x.split("/")[0]).value_counts()

Mozilla    7924
Opera      2076
Name: Browser Info, dtype: int64

### Top 5 OS

In [46]:
ecom['Browser Info'].apply(lambda x: x.split(";"))[0]

['Opera/9.56.(X11', ' Linux x86_64', ' sl-SI) Presto/2.9.183 Version/12.00']

In [56]:
ecom['Browser Info'][0]

'Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2.9.183 Version/12.00'

In [55]:
ecom['Browser Info'][7]

'Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350 (KHTML, like Gecko) Chrome/15.0.841.0 Safari/5350'

In [54]:
ecom['Browser Info'][:8].apply(lambda x: x.split(";")[1])

0                                         Linux x86_64
1                                          Win 9x 4.90
2                                             MSIE 9.0
3                         Intel Mac OS X 10_8_0 rv:3.0
4                                         Linux x86_64
5                                                    U
6                                             MSIE 7.0
7     Linux i686) AppleWebKit/5350 (KHTML, like Gec...
Name: Browser Info, dtype: object

In [58]:
try:
    for i in ecom['Browser Info']:
        i.split(";")[1]
except:
    print(i)

Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHTML, like Gecko) Chrome/15.0.879.0 Safari/5342

In [59]:
# (0;1;2) --> 1 
# (0;1) ---> 1 index after spliting with ; won't work
# (0) --> spliting with ; won't work

#### Complete this question at home

#### TOP 10 job titles ordering online in AM and PM

In [62]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Classes
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,Class B
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,Class A
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,Class B
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,Class A
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,Class A

In [65]:
ecom.groupby('AM or PM')['Job'].value_counts()

AM or PM  Job
AM        Social worker                       17
          Psychotherapist, dance movement     16
          Armed forces technical officer      15
          Art therapist                       15
          Charity fundraiser                  15
                                              ..
PM        Learning mentor                      2
          Public affairs consultant            2
          Therapist, occupational              2
          Editor, film/video                   1
          Education officer, environmental     1
Name: Job, Length: 1246, dtype: int64

In [69]:
ecom.groupby('Job')['AM or PM'].value_counts()

Job                    AM or PM
Academic librarian     AM           7
                       PM           4
Accommodation manager  PM          10
                       AM           7
Accountant, chartered  AM          11
                                   ..
Wellsite geologist     PM          12
Writer                 PM           6
                       AM           4
Youth worker           PM          10
                       AM           8
Name: AM or PM, Length: 1246, dtype: int64

#### Top 10 CC Providers whose expire day is during the months from FEB to JUNE

In [71]:
def filter_date(x):
    m = int(x.split("/")[0])
    if 2<=m<=6:
        return True
    return False

In [75]:
ecom[ecom['CC Exp Date'].apply(filter_date)]['CC Provider'].value_counts()

JCB 16 digit                   735
VISA 16 digit                  699
American Express               354
Discover                       352
JCB 15 digit                   352
VISA 13 digit                  347
Maestro                        345
Mastercard                     335
Voyager                        334
Diners Club / Carte Blanche    325
Name: CC Provider, dtype: int64

In [70]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Classes
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,Class B
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,Class A
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,Class B
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,Class A
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,Class A

In [79]:
ecom[ecom['CC Exp Date'].apply(filter_date)].groupby("CC Provider")['Address'].count()

CC Provider
American Express               354
Diners Club / Carte Blanche    325
Discover                       352
JCB 15 digit                   352
JCB 16 digit                   735
Maestro                        345
Mastercard                     335
VISA 13 digit                  347
VISA 16 digit                  699
Voyager                        334
Name: Address, dtype: int64

In [80]:
ecom[ecom['CC Exp Date'].apply(filter_date)].groupby("CC Provider")['Address'].count().sort_values()

CC Provider
Diners Club / Carte Blanche    325
Voyager                        334
Mastercard                     335
Maestro                        345
VISA 13 digit                  347
Discover                       352
JCB 15 digit                   352
American Express               354
VISA 16 digit                  699
JCB 16 digit                   735
Name: Address, dtype: int64