In [1]:
import numpy as np
import pandas as pd

In [2]:
tip=pd.read_excel('tip.xlsx')

In [3]:
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
tip[tip['smoker']=='Yes'].groupby('sex')['day'].value_counts().index[0]

('Female', 'Sat')

In [5]:
tip[tip['smoker']=='Yes'].groupby('sex')['day'].value_counts().index[4]

('Male', 'Sat')

In [6]:
tip['size'].mean()

2.569672131147541

In [7]:
tip.groupby('time')['size'].sum().index[0]

'Dinner'

In [8]:
tip.groupby('time')['size'].count()

time
Dinner    176
Lunch      68
Name: size, dtype: int64

In [9]:
tip.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [10]:
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
tip[['total_bill','tip']].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [13]:
tip.groupby('day')['total_bill'].sum()

day
Fri      325.88
Sat     1778.40
Sun     1627.16
Thur    1096.33
Name: total_bill, dtype: float64

In [14]:
tip.groupby(['sex','smoker'])['tip'].sum()

sex     smoker
Female  No        149.77
        Yes        96.74
Male    No        302.00
        Yes       183.07
Name: tip, dtype: float64

In [15]:
tip['avg_1']=tip['total_bill']/tip['size']

In [16]:
tip

     total_bill   tip     sex smoker   day    time  size      avg_1
0         16.99  1.01  Female     No   Sun  Dinner     2   8.495000
1         10.34  1.66    Male     No   Sun  Dinner     3   3.446667
2         21.01  3.50    Male     No   Sun  Dinner     3   7.003333
3         23.68  3.31    Male     No   Sun  Dinner     2  11.840000
4         24.59  3.61  Female     No   Sun  Dinner     4   6.147500
..          ...   ...     ...    ...   ...     ...   ...        ...
239       29.03  5.92    Male     No   Sat  Dinner     3   9.676667
240       27.18  2.00  Female    Yes   Sat  Dinner     2  13.590000
241       22.67  2.00    Male    Yes   Sat  Dinner     2  11.335000
242       17.82  1.75    Male     No   Sat  Dinner     2   8.910000
243       18.78  3.00  Female     No  Thur  Dinner     2   9.390000

[244 rows x 8 columns]

In [21]:
## Find maximum tip and total bill paid per person
tip[tip['tip']==tip['tip'].max()]

     total_bill   tip   sex smoker  day    time  size      avg_1
170       50.81  10.0  Male    Yes  Sat  Dinner     3  16.936667

## Range of tip and total bill paid by most of the customers.

In [41]:
tip['tip'].value_counts(bins=5)

(0.99, 2.8]    120
(2.8, 4.6]      93
(4.6, 6.4]      24
(6.4, 8.2]       5
(8.2, 10.0]      2
Name: tip, dtype: int64

In [42]:
tip['total_bill'].value_counts(bins=5)

(12.618, 22.166]    119
(22.166, 31.714]     50
(3.021, 12.618]      49
(31.714, 41.262]     19
(41.262, 50.81]       7
Name: total_bill, dtype: int64

## Does smoking effect the bill ?

In [35]:
tip.groupby('smoker')['total_bill'].sum()

smoker
No     2897.43
Yes    1930.34
Name: total_bill, dtype: float64

In [45]:
tip.groupby('smoker')['total_bill'].count()

smoker
No     151
Yes     93
Name: total_bill, dtype: int64

## Any relation between the total bill and tip ? Explain

In [43]:
tip[['total_bill','tip']].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [28]:
## What maximum percentage of total bill and tip paid per person?
tip['tip_pt']=(tip['tip']/tip['total_bill'])*100

In [30]:
tip['tip_perperson']=tip['tip_pt']/tip['size']

In [31]:
tip[tip['tip_perperson']==tip['tip_perperson'].max()]

,total_bill,tip,sex,smoker,day,time,size,avg_1,tip_pt,tip_perperson
172,7.25,5.15,Male,Yes,Sun,Dinner,2,3.625,71.034483,35.517241

In [27]:
## Does gender effects the choice of time?
tip.groupby('sex')['time'].value_counts()

sex     time
Female  Dinner     52
        Lunch      35
Male    Dinner    124
        Lunch      33
Name: time, dtype: int64

In [25]:
## At what time i should increase by staff?
tip.groupby(['day','time'])['size'].sum().nlargest()

day   time
Sat   Dinner    219
Sun   Dinner    216
Thur  Lunch     150
Fri   Dinner     26
      Lunch      14
Name: size, dtype: int64

In [33]:
tip.head()

,total_bill,tip,sex,smoker,day,time,size,avg_1,tip_pt,tip_perperson
0,16.99,1.01,Female,No,Sun,Dinner,2,8.495000,5.944673,2.972337
1,10.34,1.66,Male,No,Sun,Dinner,3,3.446667,16.054159,5.351386
2,21.01,3.50,Male,No,Sun,Dinner,3,7.003333,16.658734,5.552911
3,23.68,3.31,Male,No,Sun,Dinner,2,11.840000,13.978041,6.989020
4,24.59,3.61,Female,No,Sun,Dinner,4,6.147500,14.680765,3.670191