In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('MissingMigrantsGlobal.csv',encoding='latin',sep='\t')

In [4]:
df

,Web ID,Region of Incident,Reported Date,Reported Year,Reported Month,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Location Description,Information Source,Location Coordinates,Migration Route,URL,UNSD Geographical Grouping,Source Quality
0,51591,Mediterranean,"March 28, 2019",2019,Mar,NaN,2.0,2,36.0,NaN,2.0,NaN,Presumed drowning,"Off the coast of Chios, Greece",Hellenic Coast Guard via IOM Greece,"38.362368696592, 26.172509473654",Eastern Mediterranean,NaN,Uncategorized,5
1,51588,Mediterranean,"March 26, 2019",2019,Mar,4.0,NaN,4,11.0,3.0,NaN,1.0,Presumed drowning,"Off the coast of Ayvac?k district, Çanakkale p...",Turkish Coast Guard via IOM Turkey,"39.441975591614, 26.378816195919",Eastern Mediterranean,http://bit.ly/2YmiPAN,Uncategorized,5
2,51589,Mediterranean,"March 26, 2019",2019,Mar,1.0,NaN,1,NaN,NaN,NaN,NaN,Presumed drowning,"Body recovered on Playa del Tarajal, Ceuta, Sp...","Ceuta al día, El Pueblo de Ceuta","35.871901875921, -5.343037665842",Western Mediterranean,"http://bit.ly/2uyj7qO, http://bit.ly/2uwj5zC",Uncategorized,3
3,51590,Mediterranean,"March 26, 2019",2019,Mar,1.0,NaN,1,NaN,NaN,NaN,NaN,Presumed drowning,"Body recovered on beach near Tetouan, Morocco ...",El Pueblo de Ceuta,"35.635115912988, -5.275650103548",Western Mediterranean,http://bit.ly/2uwj5zC,Uncategorized,1
4,51587,Central America,"March 25, 2019",2019,Mar,1.0,NaN,1,NaN,NaN,1.0,NaN,Fall from train,"Train tracks in Teacalco, Tlaxcala, Mexico","Megalópolis, Línea de contraste","19.334475177429, -98.069823987538",NaN,"http://bit.ly/2uvDIvH, http://bit.ly/2TXAFLS",Central America,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5328,39207,US-Mexico Border,"January 16, 2014",2014,Jan,1.0,NaN,1,NaN,NaN,1.0,NaN,Shot,"near Douglas, Arizona",Ministry of Foreign Affairs Mexico,"31.344700000000, -109.545000000000",Central America to US,http://bit.ly/1qfIw00,Northern America,5

1.	What are the Top 10 Region of Incidents with higher incidents?
2.	What is the Percentage of missing Females, Males and Children in top 10 regions of incidents?
3.	List most common Information Source according to region of incident wise
4.	What are the most common causes of death in every region?
5.	 List number of cases reported month wise in year 2019 ?
6.	What are the top migration routes
7.	List number of cases reported yearwise and compare them¶

In [5]:
df.describe()

,Web ID,Reported Year,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Source Quality
count,5333.000000,5333.000000,5142.000000,503.000000,5333.000000,749.000000,897.000000,2813.000000,644.000000,5333.000000
mean,43247.885805,2016.656104,3.287631,29.119284,5.916370,63.607477,2.012263,1.890864,2.476708,2.895556
std,5186.837212,1.237033,13.593407,67.913216,28.051811,146.520155,2.990100,5.510674,10.216220,1.423257
min,30158.000000,2014.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,40876.000000,2016.000000,1.000000,2.000000,1.000000,5.000000,1.000000,1.000000,1.000000,2.000000
50%,43504.000000,2017.000000,1.000000,7.000000,1.000000,15.000000,1.000000,1.000000,1.000000,2.000000
75%,45747.000000,2018.000000,2.000000,25.000000,3.000000,61.000000,2.000000,1.000000,2.000000,4.000000
max,51592.000000,2019.000000,750.000000,750.000000,1022.000000,1950.000000,30.000000,135.000000,250.000000,5.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5333 entries, 0 to 5332
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Web ID                               5333 non-null   int64
 1   Region of Incident                   5333 non-null   object
 2   Reported Date                        5333 non-null   object
 3   Reported Year                        5333 non-null   int64
 4   Reported Month                       5333 non-null   object
 5   Number Dead                          5142 non-null   float64
 6   Minimum Estimated Number of Missing  503 non-null    float64
 7   Total Dead and Missing               5333 non-null   int64
 8   Number of Survivors                  749 non-null    float64
 9   Number of Females                    897 non-null    float64
 10  Number of Males                      2813 non-null   float64
 11  Number of Children                   644 non-null    float64
 12  Cause of Death                       5333 non-null   object
 13  Location Description                 5323 non-null   object
 14  Information Source                   5331 non-null   object
 15  Location Coordinates                 5332 non-null   object
 16  Migration Route                      2660 non-null   object
 17  URL                                  3192 non-null   object
 18  UNSD Geographical Grouping           5322 non-null   object
 19  Source Quality                       5333 non-null   int64
dtypes: float64(6), int64(4), object(10)
memory usage: 833.4+ KB

In [7]:
df.columns

Index(['Web ID', 'Region of Incident', 'Reported Date', 'Reported Year',
       'Reported Month', 'Number Dead', 'Minimum Estimated Number of Missing',
       'Total Dead and Missing', 'Number of Survivors', 'Number of Females',
       'Number of Males', 'Number of Children', 'Cause of Death',
       'Location Description', 'Information Source', 'Location Coordinates',
       'Migration Route', 'URL', 'UNSD Geographical Grouping',
       'Source Quality'],
      dtype='object')

## 1. What are the Top 10 Region of Incidents with higher incidents?

In [8]:
df.groupby('Region of Incident')['Total Dead and Missing'].sum().nlargest(10)

Region of Incident
Mediterranean         18229
North Africa           4027
Southeast Asia         2203
US-Mexico Border       1964
Sub-Saharan Africa     1549
Horn of Africa         1152
Central America         619
Caribbean               499
Europe                  442
Middle East             406
Name: Total Dead and Missing, dtype: int64

## 2.	What is the Percentage of missing Females, Males and Children in top 10 regions of incidents?

In [9]:
df.groupby('')

KeyError: ''

## 3.	List most common Information Source according to region of incident wise

In [16]:
df.groupby('Region of Incident')['Information Source'].value_counts(sort=True).sort_values(ascending=False)[:5]

Region of Incident  Information Source
US-Mexico Border    Pima County Office of the Medical Examiner               681
North Africa        Mixed Migration Monitoring Mechanism Initiative (4Mi)    674
                    Mixed Migration Monitoring Mechanism Initiative (4mi)    316
Sub-Saharan Africa  Mixed Migration Monitoring Mechanism Initiative (4mi)    269
North Africa        MHub                                                     186
Name: Information Source, dtype: int64

## 4.	What are the most common causes of death in every region?

In [12]:
df['Cause of Death'].value_counts(sort=True).head(10)

Drowning                                    968
Sickness and lack of access to medicines    757
Unknown                                     549
Unknown (skeletal remains)                  469
Vehicle Accident                            444
Presumed drowning                           347
Shot                                        171
Dehydration                                 121
Starvation                                   89
Hypothermia                                  79
Name: Cause of Death, dtype: int64

In [17]:
df.groupby('Region of Incident')['Cause of Death'].value_counts()

Region of Incident  Cause of Death
Caribbean           Drowning                                    25
                    Presumed drowning                           17
                    Unknown                                      7
                    Shot                                         2
                    Vehicle Accident                             2
                                                                ..
US-Mexico Border    Hypoglycemia                                 1
                    Pneumonia                                    1
                    Train Accident                               1
                    Unknown (mummified and skeletal remains)     1
                    Unknown (violence)                           1
Name: Cause of Death, Length: 454, dtype: int64

## 5.	 List number of cases reported month wise in year 2019 ?

In [10]:
df[df['Reported Year']==2019].groupby('Reported Month').count()

,Web ID,Region of Incident,Reported Date,Reported Year,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Location Description,Information Source,Location Coordinates,Migration Route,URL,UNSD Geographical Grouping,Source Quality
Reported Month,,,,,,,,,,,,,,,,,,,
Feb,51,51,51,51,48,6,51,10,7,31,4,51,51,51,51,14,48,51,51
Jan,57,57,57,57,52,7,57,14,6,30,5,57,57,57,57,23,54,57,57
Mar,35,35,35,35,32,7,35,11,8,14,7,35,35,35,35,16,31,35,35

## 6.	What are the top migration routes

In [18]:
df['Migration Route'].value_counts().nlargest(20)

Central America to US                        1507
Central Mediterranean                         499
Western Mediterranean                         255
Eastern Mediterranean                         230
Western Balkans                                64
Calais to United Kingdom                       51
Horn Africa to Yemen                           15
Western African                                15
Italy to France                                 9
Darien Gap                                      7
Caribbean to Central America                    3
Dominican Republic to Puerto Rico               2
From Haiti to Dajabon, Dominican Republic       1
Venezuela to Curaçao                            1
Malaysia to Indonesia                           1
Name: Migration Route, dtype: int64

## 7.	List number of cases reported yearwise and compare them

In [19]:
df.groupby('Reported Year').sum()

,Web ID,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Source Quality
Reported Year,,,,,,,,,
2014,9662545,1724.0,3563.0,5287,5553.0,54.0,202.0,300.0,821
2015,32943987,4045.0,2539.0,6584,8115.0,216.0,797.0,291.0,2282
2016,54925720,4059.0,4011.0,8070,17407.0,282.0,890.0,268.0,3367
2017,53418072,3734.0,2545.0,6279,6424.0,546.0,1614.0,308.0,4069
2018,72444192,3032.0,1702.0,4734,9167.0,655.0,1715.0,397.0,4399
2019,7246459,311.0,287.0,598,976.0,52.0,101.0,31.0,504