In [1]:
#Operators are use to perform operations on data.

# Operators

    1. Arithmatic Operators(+,-,*,/,//,%,**)
    2. Logical Operators(and,or,not)
    3. Relational Operators(>,<,>=,<=,==,!=)
    4. Assignment Operators(=,+=,-=,/=,*=,//=,%=)
    5. Membership Operators(in, not in)
    6. Identity Operators(is, is not)
    7. Bitwise Operators(^,&,|,>>,<<)

# Arithmatic Operators

### Addition

In [2]:
a = 4
b = 2
print(f"Sum of {a} and {b} is {a+b}")

Sum of 4 and 2 is 6

In [5]:
a = 4
b = 3
print(f"{a} + {b} = {a+b}")

4 + 3 = 7

In [6]:
print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [10]:
print(f"{a} + {b} = {a.__add__(b)}")

4 + 3 = 7

In [11]:
#float

In [33]:
a = 553.3
b = 324.3
c = a+b
print("%f" %c)

877.600000

In [25]:
print(f"{c:.2f}")

877.60

In [34]:
a = 523.533455235325235235

In [38]:
round(a,2)

523.53

In [39]:
#complex

In [40]:
a = 3+5j
b = -2-3j
print(a+b)

(1+2j)

In [41]:
#String

s1 = "Hello "
s2 = "World"

In [44]:
print(s1+s2) #Concatenation of String

Hello World

In [43]:
print(dir(s1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [45]:
s1.__add__(s2)

'Hello World'

In [46]:
#list

In [48]:
l1 = [1,2,3,4,5]
l2 = [9,8,7,6,5]
print(l1+l2) #concatenation

[1, 2, 3, 4, 5, 9, 8, 7, 6, 5]

In [49]:
#tuple

In [50]:
t1 = (1,2,3,4,5)
t2 = (3,2)
print(t1+t2)

(1, 2, 3, 4, 5, 3, 2)

In [51]:
print(l1+t1)

TypeError: can only concatenate list (not "tuple") to list

In [52]:
#dictionary

In [54]:
d1 = {'key':'value'}
d2 = {'key1':'Value1'}
print(d1+d2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [55]:
print(dir(d1))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [56]:
#set

In [58]:
s = {1}
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [60]:
s.add(44)

In [61]:
s

{1, 44}

## Subtraction

In [62]:
#int

In [63]:
a = -7
b = -2
print(a-b)

-5

In [64]:
#Float

In [65]:
a = 3.3
b = 4.4
print(a-b)

-1.1000000000000005

In [66]:
#complex 
d = 5+2j
e = -9-5j
print(d-e)

(14+7j)

In [67]:
#str
s1 = "Ravi"
s2= "R"
print(s1-s2)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [68]:
#list
#dicT
#tuple
#set

### Multiplication

In [70]:
a = 9
b = 4
print(f"{a} X {b} = {a*b}") #* asterik is used for multiplication

9 X 4 = 36

In [71]:
a = 4.7
b = 99.4
print(a*b)

467.18000000000006

In [72]:
#Str

In [73]:
s1 = "Hello "
s2 = "World"
print(s1*s2)

TypeError: can't multiply sequence by non-int of type 'str'

In [74]:
print(dir(s1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [75]:
s1.__mul__(s2)

TypeError: 'str' object cannot be interpreted as an integer

In [76]:
s1.__mul__(5)

'Hello Hello Hello Hello Hello '

In [77]:
s1*100

'Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello '

In [78]:
#list

In [79]:
l = [124,1,513,5,31,5]

In [81]:
print(l*10)

[124, 1, 513, 5, 31, 5, 124, 1, 513, 5, 31, 5, 124, 1, 513, 5, 31, 5, 124, 1, 513, 5, 31, 5, 124, 1, 513, 5, 31, 5, 124, 1, 513, 5, 31, 5, 124, 1, 513, 5, 31, 5, 124, 1, 513, 5, 31, 5, 124, 1, 513, 5, 31, 5, 124, 1, 513, 5, 31, 5]

### Exponent

In [82]:
# exponent --> **

In [83]:
a = 9
b = 99
print(a**b)

29512665430652752148753480226197736314359272517043832886063884637676943433478020332709411004889

In [84]:
a = 2
b = 3
print(a**b)

8

### True Division (/), Floor Division (//), Modulus(%)

In [85]:
a = 10
b = 3
print(a/b)

3.3333333333333335

In [86]:
#floor takes floor value of the ans(int)

In [88]:
a = 10
b = 3
print(a//b)

3

In [89]:
#5.5 --> floor -->3 , ceiling -->4

In [90]:
round(4.3)

4

In [93]:
round(4.51)

5

In [94]:
#modulus

In [98]:
a = 99
b = 4
print(a%b) #remainder --> 3

3

In [101]:
a = 8
b = 10
print(a%b)

8

# Logical Operators

In [102]:
#Digital Electionics

1. and 
2. or
3. not

In [110]:
a = 0
b = 1
print("A\tB\tand\tor")
print(f"{a}\t{a}\t{a and a}\t{a or a}")
print(f"{a}\t{b}\t{a and b}\t{a or b}")
print(f"{b}\t{a}\t{b and a}\t{b or a}")
print(f"{b}\t{b}\t{b and b}\t{b or b}")

A	B	and	or
0	0	0	0
0	1	0	1
1	0	0	1
1	1	1	1

In [111]:
a = False
b = True
print("A\tB\tand\tor")
print(f"{a}\t{a}\t{a and a}\t{a or a}")
print(f"{a}\t{b}\t{a and b}\t{a or b}")
print(f"{b}\t{a}\t{b and a}\t{b or a}")
print(f"{b}\t{b}\t{b and b}\t{b or b}")

A	B	and	or
False	False	False	False
False	True	False	True
True	False	False	True
True	True	True	True

In [112]:
not True

False

In [113]:
not False

True

# Relational Operators

In [114]:
a = 5
b = 3
c = 9

print(a>b) #True
print(b<c) #True
print(a==c) #False
print(a!=b) #True
print(a>=c) #Fasle
print(c<=b) #False

True
True
False
True
False
False

In [115]:
a = 5
b = 3
c = 9
print(a>b or a<c) 
print(b<c and b!=c) 
print(a==c and a==b) 
print(a!=b or a==c)
print(a>=c or c<=b) 
print(c<=b and c==c)

True
True
False
True
False
False

# Assignment Operators

In [116]:
a = 4 #Assignment Operator

In [117]:
#Shortend Operators

In [118]:
a +=4 #a = a+4
a -=3 #a = a-3
a *=5
print(a)

25

In [119]:
a/=6
a//=2
a%=4
a**=3

In [120]:
print(a)

8.0

# Membership Operators

In [121]:
s1 = "Ravi Ramawat"

In [122]:
't' in s1

True

In [123]:
"T" in s1

False

In [124]:
l = [12,4,23,5,346,43,634,5]
print(12 in l)

True

In [125]:
99 not in l

True

In [126]:
"R" not in s1

False

## Identity Operators

1. is
2. is not

In [127]:
a = 9
b = 9
print(id(a))
print(id(b))

140711101868064
140711101868064

In [128]:
a is b

True

In [132]:
a = "Ravi "
b = "Ravi "

In [133]:
a is b

False

In [134]:
print(id(a))
print(id(b))

2444583392944
2444583392816

In [136]:
a == b #it checks value

True

In [140]:
l = [1,3,41,34,12,412,4,12]
l1 = [1,3,41,34,12,412,4,12]

In [141]:
l.__sizeof__()

104

In [142]:
l1.__sizeof__()

104

In [143]:
print(id(l1))
print(id(l))

2444583122368
2444583375296

In [144]:
l = [1]
l1 = [1]

In [145]:
print(id(l1))
print(id(l))

2444615235712
2444614580672

In [146]:
d= print()

In [147]:
print(d)

None

In [1]:
l = [124,12,5,23,5,23,6,32632,562,35]

In [2]:
l.insert(-1,999)

In [3]:
l

[124, 12, 5, 23, 5, 23, 6, 32632, 562, 999, 35]

In [4]:
l.insert(2,55)

In [5]:
l

[124, 12, 55, 5, 23, 5, 23, 6, 32632, 562, 999, 35]

# Bitwise

In [6]:
#binary --> 0 or 1

In [7]:
#input --> decimal  --> caluclation --> binary --> output --> decimal

1. bitwise and --> &
2. bitwise or --> |
3. right shift -->  >>
4. left shift -->  <<
5. xor --> ^

In [8]:
bin(55)

'0b110111'

In [9]:
oct(55)

'0o67'

In [10]:
hex(55)

'0x37'

In [11]:
192/16

12.0

In [12]:
hex(192)

'0xc0'

In [13]:
256+0+64+32+0+8+0+2+1

363

In [14]:
bin(363)

'0b101101011'

In [15]:
#bitwise &

a = 10
b = 2
print(a&b)

2

In [16]:
a = 15
b = 4
print(a&b)

4

In [17]:
#or |

a = 55
b  = 22
print(a|b)

55

In [18]:
a = 8 
b = 4
print(a|b)

12

In [19]:
#Xor

In [21]:
a = 5
b = 8
print(a^b)

13

In [22]:
#>>

In [23]:
10 >> 1 #right shift

5

In [24]:
10<<1 #left shift

20

In [25]:
#PCB --> Printed Circuit board

In [26]:
# compliment --> ~