In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel("Dataset/Python_Mock_Test(1-280).xlsx",header=[0])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Columns: 112 entries, ID to Feedback - What should be replaced in blank space to get the output as
Output:
     0
     1
     2

i = 0
while i < 5:
    print(i)
    i += 1
    if i == 3:
        ________
else:
    print(0)
dtypes: datetime64[ns](2), float64(44), int64(33), object(33)
memory usage: 245.1+ KB

In [4]:
df

      ID          Start time     Completion time      Email  Name  \
0      1 2021-07-02 21:51:56 2021-07-02 21:52:13  anonymous   NaN
1      2 2021-07-03 14:13:47 2021-07-03 14:18:16  anonymous   NaN
2      3 2021-07-03 14:18:11 2021-07-03 14:23:05  anonymous   NaN
3      4 2021-07-03 14:19:02 2021-07-03 14:23:40  anonymous   NaN
4      5 2021-07-03 14:14:44 2021-07-03 14:26:08  anonymous   NaN
..   ...                 ...                 ...        ...   ...
275  276 2021-07-03 17:12:25 2021-07-03 17:14:54  anonymous   NaN
276  277 2021-07-03 16:20:43 2021-07-03 17:17:03  anonymous   NaN
277  278 2021-07-03 16:49:17 2021-07-03 17:19:23  anonymous   NaN
278  279 2021-07-03 17:15:25 2021-07-03 17:30:20  anonymous   NaN
279  280 2021-07-03 17:05:35 2021-07-03 17:35:47  anonymous   NaN

     Total points  Quiz feedback Please fill your full name?  \
0               1            NaN                         NaN
1               9            NaN               Vishal thakur
2              14            NaN            Nikita prajapati
3              14            NaN                        ansh
4               9            NaN              Krishna garare
..            ...            ...                         ...
275            57            NaN                Komal  patil
276            32            NaN                Ruchita Rani
277            45            NaN             Utkarsh Goswami
278            51            NaN                Rahul Sagar
279            19            NaN                  Salma Bano

     Points - Please fill your full name?  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
..                                    ...
275                                   NaN
276                                   NaN
277                                   NaN
278                                   NaN
279                                   NaN

     Feedback - Please fill your full name?  ...  \
0                                       NaN  ...
1                                       NaN  ...
2                                       NaN  ...
3                                       NaN  ...
4                                       NaN  ...
..                                      ...  ...
275                                     NaN  ...
276                                     NaN  ...
277                                     NaN  ...
278                                     NaN  ...
279                                     NaN  ...

    Feedback -  What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
275                                                NaN
276                                                NaN
277                                                NaN

In [5]:
l=df.columns

In [6]:
col_=[]
for i in range(len(l)):
    if "Points - " in l[i]:
        pass
    elif "Feedback - " in l[i]:
        pass
    else:
        col_.append(l[i])

In [7]:
df=df[col_]

In [8]:
len(df.columns)

42

In [9]:
df

      ID          Start time     Completion time      Email  Name  \
0      1 2021-07-02 21:51:56 2021-07-02 21:52:13  anonymous   NaN
1      2 2021-07-03 14:13:47 2021-07-03 14:18:16  anonymous   NaN
2      3 2021-07-03 14:18:11 2021-07-03 14:23:05  anonymous   NaN
3      4 2021-07-03 14:19:02 2021-07-03 14:23:40  anonymous   NaN
4      5 2021-07-03 14:14:44 2021-07-03 14:26:08  anonymous   NaN
..   ...                 ...                 ...        ...   ...
275  276 2021-07-03 17:12:25 2021-07-03 17:14:54  anonymous   NaN
276  277 2021-07-03 16:20:43 2021-07-03 17:17:03  anonymous   NaN
277  278 2021-07-03 16:49:17 2021-07-03 17:19:23  anonymous   NaN
278  279 2021-07-03 17:15:25 2021-07-03 17:30:20  anonymous   NaN
279  280 2021-07-03 17:05:35 2021-07-03 17:35:47  anonymous   NaN

     Total points  Quiz feedback Please fill your full name?  \
0               1            NaN                         NaN
1               9            NaN               Vishal thakur
2              14            NaN            Nikita prajapati
3              14            NaN                        ansh
4               9            NaN              Krishna garare
..            ...            ...                         ...
275            57            NaN                Komal  patil
276            32            NaN                Ruchita Rani
277            45            NaN             Utkarsh Goswami
278            51            NaN                Rahul Sagar
279            19            NaN                  Salma Bano

           Please fill your email? Please choose your batch?  ...  \
0                              NaN                       NaN  ...
1     vishalthakur850900@gmail.com                   Batch 2  ...
2            Nikitap8912@gmail.com                   Batch 2  ...
3                 ansh00@gmail.com                   Batch 2  ...
4       krishnagararekkg@gmail.com                   Batch 3  ...
..                             ...                       ...  ...
275       Patilkommu8383@gmail.com                   Batch 1  ...
276        ruchitarani14@gmail.com                   Batch 3  ...
277  voraciousutkarsh536@gmail.com                   Batch 3  ...
278        rahul47sagar@gmail.com                    Batch 1  ...
279        salmabano0108@gmail.com                   Batch 1  ...

    In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)  \
0                                                  NaN
1                                                    1
2                                                    3
3                                                    3
4                                                    1
..                                                 ...
275                                                  2
276                                                  2
277                                               None
278                                                  2
279                                                  2

    What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up()  \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...  \
0                                                  NaN
1                                             1 Square

In [10]:
len(df.columns)

42

In [11]:
ans=df.columns[11:].to_frame()

In [12]:
c=pd.read_excel("Dataset/Python_Mock_Test(1-280).xlsx",header=[0])

In [13]:
l=c.columns

In [14]:
col_2=[]
for i in range(len(l)):
    if "Points - " in l[i]:
        col_2.append(l[i])

In [15]:
col_2=col_2[4:]

In [16]:
c[col_2].max()

Points - Which data type among the following is immutable                                                                                                                                                                          1.0
Points - Python is which type of language                                                                                                                                                                                          1.0
Points - What is Maximum possible length of identifier                                                                                                                                                                             1.0
Points - In which year was the Python language developed?                                                                                                                                                                          1.0
Points - Which is the correct extension of python file                                                                                                                                                                             1.0
Points - What do we use to define a block of code in Python language?                                                                                                                                                              1.0
Points - Which of the following declaration is incorrect                                                                                                                                                                           1.0
Points - Which of the following is incorrect                                                                                                                                                                                       1.0
Points - What will be the output of this code?\na = 10\nb = 20\nc = 2\nwhile a<b:\n    c += 2\n    a += 2\nprint(c)                                                                                                                2.0
Points - What will be the output of the code?\ni = 1\nwhile True:\n    if i%3 == 0:\n        break\n    print(i)\n \n    i + = 1                                                                                                   2.0
Points - What will be the output of the code?\nl = [10, 12, 'hello', 'bye', 34, 56]\nfor i in l:\n    if len(str(i))%2 == 0:\n        break\n    print(len(i))                                                                     2.0
Points - What will be the output of the following?\n1 + 2 + 3/6 * 10 // 9                                                                                                                                                          2.0
Points - What should be filled in the line 5 so output become 3?\n\n1. str1="hello"\n2. c=0\n3. for x in str1:\n4.    if(x!="l"):\n5.        _______\n6.    else:\n7.        pass\n8. print(c)                                     2.0
Points - str1="learn python"\n\nstr2=""\n\nstr3=""\n\nfor x in str1:\n\n    if(x=="r" or x=="n" or x=="p"):\n\n        str2+=x\n\n    if(x=="r" or x=="e" or x=="a"):\n\n        str3+=x\n\nprint(str2,end=", ")\nprint(str3)      2.0
Points - Which of the following is a valid for loop in Python?                                                                                                                                                                     2.0
Points - A while loop in Python is used for what type of iteration?                                                                                                                                                                2.0
Points - Which of the option below is correct?                                                                                                                                                                                     1.0
Points - How many time this loop will run?\nfor i in range(-3):\n    pass                                                                                                                                                          2.0
Points - What is the output of this code?\n\ni = 0\nfor i in range(1, 10):\n    pass\nprint(i)                                                                                                                                     2.0
Points - Which of the following is considered as infinite loop?                                                                                                                                                                    2.0
Points - What will be the number of lines drawn in each case, assuming that the turtle module has been imported:\npen = turtle.Pen()\nCase 1:\nfor i in range(0,10):\n\tpen.forward(100)\n\tpen.left(90)\n\nCase 2:\nfo...         2.0
Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60

In [17]:
max_=[]
for i in range(0, len(x)):
    max_.append(x.iloc[i])

NameError: name 'x' is not defined

In [ ]:
max_

In [ ]:
ans["points"]=max_

In [ ]:
ans.set_index(pd.RangeIndex(1, len(ans)+1), inplace=True)

In [ ]:
ans.iloc[27,1]=4.0

In [ ]:
ans['points']=ans['points'].astype(int)

In [ ]:
ans.columns=['question','points']
ans.index.name='no'

In [ ]:
ans

In [ ]:
ans.to_csv("answer.csv")

In [18]:
answer=pd.read_csv('answer - Copy.csv')

In [19]:
answer

    no                                           question  points  \
0    1   Which data type among the following is immutable       1
1    2                   Python is which type of language       1
2    3      What is Maximum possible length of identifier       1
3    4   In which year was the Python language developed?       1
4    5      Which is the correct extension of python file       1
5    6  What do we use to define a block of code in Py...       1
6    7    Which of the following declaration is incorrect       1
7    8                Which of the following is incorrect       1
8    9  What will be the output of this code?\na = 10\...       2
9   10  What will be the output of the code?\ni = 1\nw...       2
10  11  What will be the output of the code?\nl = [10,...       2
11  12  What will be the output of the following?\n1 +...       2
12  13  What should be filled in the line 5 so output ...       2
13  14  str1="learn python"\n\nstr2=""\n\nstr3=""\n\nf...       2
14  15  Which of the following is a valid for loop in ...       2
15  16  A while loop in Python is used for what type o...       2
16  17              Which of the option below is correct?       1
17  18  How many time this loop will run?\nfor i in ra...       2
18  19  What is the output of this code?\n\ni = 0\nfor...       2
19  20  Which of the following is considered as infini...       2
20  21  What will be the number of lines drawn in each...       2
21  22  In how many lines there is logical error to ge...       2
22  23  What will be the output of the following Pytho...       2
23  24  What should be replaced in blank line given as...       2
24  25  Which of the following is Exit control loop in...       2
25  26  We have a string\n"***************************...       2
26  27  What should be the value of a so that the outp...       3
27  28   What should be replace in blank space to get ...       4
28  29  Which should we write to get the output as NEW...       4
29  30  What should be replaced in line 5 blank space ...       4
30  31  What should be replaced in blank space to get ...       3

                                            ans
0                                        String
1                                       Dynamic
2                                 None of these
3                                          1989
4                                           .py
5                                   Indentation
6                                123x_;abc@123;
7                                 a, b, c = 123
8                                            12
9                                         error
10                                        10 12
11                                            3
12                                        c=c+1
13                                    rnpn, ear
14                         for i in range(0,n):
15                                   indefinite
16                              import requests
17                                            0
18                                            9
19                                     while 1:
20                                        10, 9
21                                            2
22                                     1 Square
23                                          144
24                            None of the above
25                   strip strip split indexing
26                                  ("Check")*3
27                                        if if
28  data[1]['cachedContents']['top'][0]['item']
29                                            >
30                                        Break

In [20]:
check=df.T[11:]

In [21]:
check

                                                                                        0    \
Which data type among the following is immutable                                        NaN
Python is which type of language                                                     Static
What is Maximum possible length of identifier                                            64
In which year was the Python language developed?                                     1992.0
Which is the correct extension of python file                                       .python
What do we use to define a block of code in Pyt...                              Indentation
Which of the following declaration is incorrect                                      123x_;
Which of the following is incorrect                 a, b, c = {"a": "b, "c": "d", "d": "e"}
What will be the output of this code?\na = 10\n...                                        5
What will be the output of the code?\ni = 1\nwh...                                      NaN
What will be the output of the code?\nl = [10, ...                                      NaN
What will be the output of the following?\n1 + ...                                      NaN
What should be filled in the line 5 so output b...                                      NaN
str1="learn python"\n\nstr2=""\n\nstr3=""\n\nfo...                                      NaN
Which of the following is a valid for loop in P...                                      NaN
A while loop in Python is used for what type of...                                      NaN
Which of the option below is correct?                                                   NaN
How many time this loop will run?\nfor i in ran...                                      NaN
What is the output of this code?\n\ni = 0\nfor ...                                      NaN
Which of the following is considered as infinit...                                      NaN
What will be the number of lines drawn in each ...                                      NaN
In how many lines there is logical error to get...                                      NaN
What will be the output of the following Python...                                      NaN
What should be replaced in blank line given as ...                                      NaN
Which of the following is Exit control loop in ...                                      NaN
We have a string\n"****************************...                                      NaN
What should be the value of a so that the outpu...                                      NaN
 What should be replace in blank space to get o...                                      NaN
Which should we write to get the output as NEWY...                                      NaN
What should be replaced in line 5 blank space t...                                      NaN
What should be replaced in blank space to get t...                                      NaN

                                                                            1    \
Which data type among the following is immutable                           List
Python is which type of language                                        Dynamic
What is Maximum possible length of identifier                                16
In which year was the Python language developed?                         1972.0
Which is the correct extension of python file                              .pyt
What do we use to define a block of code in Pyt...                     Brackets
Which of the following declaration is incorrect                             _x;
Which of the following is incorrect                           a, b, c = 1, 2, 3
What will be the output of this code?\na = 10\n...                            5
What will be the output of the code?\ni = 1\nwh...                        error
What will be the output of the code?\nl = [10, ...                        12 10
What will be the output of the following?\n1 + ...                          3.0
What should be filled in the line 5 so output b...                            0
str1="learn python"\n\nstr2=""\n\nstr3=""\n\nfo...                      rnpn ea
Which of the following is a valid for loop in P...          for i in range(0,n)
A while loop in Python is used for what type of...                   indefinite
Which of the option below is correct?                                 #requests
How many time this loop will run?\nfor i in ran...                            2
What is the output of this code?\n\ni = 0\nfor ...                            1
Which of the following is considered as infinit...                       for 1:
What will be the number of lines drawn in each ...                        9, 10
In how many lines there is logical error to get...                            1
What will be the output of the following Python...

In [22]:
check.shape[1]

280

In [23]:
def res_output(answer,check):
    result=[]
    count=0
    for k in range (check.shape[1]):
        sum=0
        grace=2
        for i in range(len(answer)):
            if answer.iloc[i,3] == check.iloc[i,k]:
                sum=sum+answer.iloc[i,2]
        sum=sum+grace
        result.append(sum)
    return result

In [24]:
score=res_output(answer,check)

In [25]:
len(score)

280

In [26]:
score

[3,
 11,
 15,
 15,
 9,
 17,
 18,
 11,
 8,
 16,
 17,
 14,
 14,
 9,
 15,
 19,
 10,
 13,
 19,
 18,
 9,
 23,
 18,
 16,
 8,
 14,
 27,
 23,
 25,
 24,
 22,
 15,
 49,
 21,
 17,
 49,
 19,
 10,
 49,
 23,
 20,
 34,
 20,
 22,
 17,
 19,
 23,
 13,
 17,
 20,
 15,
 17,
 23,
 20,
 21,
 10,
 24,
 10,
 43,
 20,
 25,
 18,
 23,
 21,
 49,
 25,
 15,
 25,
 53,
 39,
 49,
 17,
 23,
 21,
 14,
 15,
 26,
 13,
 37,
 19,
 19,
 22,
 18,
 17,
 15,
 13,
 22,
 27,
 9,
 53,
 49,
 20,
 26,
 30,
 32,
 32,
 26,
 18,
 20,
 27,
 33,
 11,
 13,
 16,
 18,
 35,
 37,
 35,
 38,
 14,
 34,
 41,
 23,
 25,
 27,
 38,
 26,
 38,
 28,
 26,
 46,
 15,
 49,
 22,
 12,
 20,
 16,
 26,
 41,
 21,
 47,
 33,
 23,
 36,
 41,
 41,
 35,
 21,
 13,
 17,
 50,
 13,
 13,
 47,
 25,
 42,
 46,
 42,
 40,
 25,
 30,
 33,
 31,
 41,
 30,
 31,
 29,
 21,
 30,
 37,
 28,
 20,
 40,
 19,
 26,
 22,
 38,
 40,
 38,
 52,
 55,
 48,
 35,
 49,
 27,
 51,
 36,
 32,
 29,
 36,
 32,
 27,
 51,
 18,
 26,
 48,
 17,
 47,
 41,
 34,
 19,
 34,
 37,
 27,
 25,
 47,
 48,
 49,
 35,
 12,
 25,
 21,
 17,
 51,
 26,
 21,
 17,
 24,
 48,
 42,
 41,
 21,
 46,
 32,
 36,
 20,
 9,
 54,
 18,
 55,
 44,
 35,
 13,
 22,
 49,
 51,
 48,
 25,
 21,
 42,
 22,
 52,
 34,
 26,
 11,
 31,
 58,
 14,
 26,
 3,
 19,
 18,
 48,
 18,
 21,
 36,
 33,
 3,
 52,
 21,
 16,
 43,
 29,
 9,
 33,
 55,
 37,
 21,
 36,
 22,
 53,
 33,
 18,
 7,
 29,
 50,
 38,
 11,
 39,
 38,
 9,
 48,
 47,
 38,
 25,
 52,
 31,
 47,
 47,
 18]

In [27]:
check=check.T

In [28]:
check['score']=score

In [29]:
df['score']=check['score']

<ipython-input-29-5e14b54766cb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['score']=check['score']

In [30]:
df.shape

(280, 43)

In [31]:
df

      ID          Start time     Completion time      Email  Name  \
0      1 2021-07-02 21:51:56 2021-07-02 21:52:13  anonymous   NaN
1      2 2021-07-03 14:13:47 2021-07-03 14:18:16  anonymous   NaN
2      3 2021-07-03 14:18:11 2021-07-03 14:23:05  anonymous   NaN
3      4 2021-07-03 14:19:02 2021-07-03 14:23:40  anonymous   NaN
4      5 2021-07-03 14:14:44 2021-07-03 14:26:08  anonymous   NaN
..   ...                 ...                 ...        ...   ...
275  276 2021-07-03 17:12:25 2021-07-03 17:14:54  anonymous   NaN
276  277 2021-07-03 16:20:43 2021-07-03 17:17:03  anonymous   NaN
277  278 2021-07-03 16:49:17 2021-07-03 17:19:23  anonymous   NaN
278  279 2021-07-03 17:15:25 2021-07-03 17:30:20  anonymous   NaN
279  280 2021-07-03 17:05:35 2021-07-03 17:35:47  anonymous   NaN

     Total points  Quiz feedback Please fill your full name?  \
0               1            NaN                         NaN
1               9            NaN               Vishal thakur
2              14            NaN            Nikita prajapati
3              14            NaN                        ansh
4               9            NaN              Krishna garare
..            ...            ...                         ...
275            57            NaN                Komal  patil
276            32            NaN                Ruchita Rani
277            45            NaN             Utkarsh Goswami
278            51            NaN                Rahul Sagar
279            19            NaN                  Salma Bano

           Please fill your email? Please choose your batch?  ...  \
0                              NaN                       NaN  ...
1     vishalthakur850900@gmail.com                   Batch 2  ...
2            Nikitap8912@gmail.com                   Batch 2  ...
3                 ansh00@gmail.com                   Batch 2  ...
4       krishnagararekkg@gmail.com                   Batch 3  ...
..                             ...                       ...  ...
275       Patilkommu8383@gmail.com                   Batch 1  ...
276        ruchitarani14@gmail.com                   Batch 3  ...
277  voraciousutkarsh536@gmail.com                   Batch 3  ...
278        rahul47sagar@gmail.com                    Batch 1  ...
279        salmabano0108@gmail.com                   Batch 1  ...

    What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up()  \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...  \
0                                                  NaN
1                                             1 Square
2    2 squares, at a separation of100 units, joined...
3                                             1 Square
4                                                Error
..                                                 ...
275                                           1 Square
276                                           1 Square
277                                           1 Square
278                                           1 Square
279                                           1 Square

In [32]:
final=df.iloc[:, [0,1,2,7,8,5,42]]

In [33]:
final

,ID,Start time,Completion time,Please fill your full name?,Please fill your email?,Total points,score
0,1,2021-07-02 21:51:56,2021-07-02 21:52:13,NaN,NaN,1,3
1,2,2021-07-03 14:13:47,2021-07-03 14:18:16,Vishal thakur,vishalthakur850900@gmail.com,9,11
2,3,2021-07-03 14:18:11,2021-07-03 14:23:05,Nikita prajapati,Nikitap8912@gmail.com,14,15
3,4,2021-07-03 14:19:02,2021-07-03 14:23:40,ansh,ansh00@gmail.com,14,15
4,5,2021-07-03 14:14:44,2021-07-03 14:26:08,Krishna garare,krishnagararekkg@gmail.com,9,9
...,...,...,...,...,...,...,...
275,276,2021-07-03 17:12:25,2021-07-03 17:14:54,Komal patil,Patilkommu8383@gmail.com,57,52
276,277,2021-07-03 16:20:43,2021-07-03 17:17:03,Ruchita Rani,ruchitarani14@gmail.com,32,31
277,278,2021-07-03 16:49:17,2021-07-03 17:19:23,Utkarsh Goswami,voraciousutkarsh536@gmail.com,45,47
278,279,2021-07-03 17:15:25,2021-07-03 17:30:20,Rahul Sagar,rahul47sagar@gmail.com,51,47
279,280,2021-07-03 17:05:35,2021-07-03 17:35:47,Salma Bano,salmabano0108@gmail.com,19,18

In [34]:
final[['Please fill your full name?','Please fill your email?', 'score']].sort_values('score', ascending=False)

         Please fill your full name?       Please fill your email?  score
236                   Shikha Khatri     shikhakhatri8855@gmail.com     58
170            Dhiraj kumar kushwaha   dhirajkushwaha002@gmail.com     55
255                     Ujjwal Singh       usb9300322722@gmail.com     55
219                    Himanshu Soni   himanshunitesh123@gmail.com     55
217                 Kratika lashkari  lashkarikratika410@gmail.com     54
..                               ...                           ...    ...
8                          Payal Rai         Raipayal380@gmail.com      8
263               Itish Imrat Tirwal  itishtirwalkittu28@gmail.com      7
247  All toppers will be fake cause         xadalir639@nnacell.com      3
239           xadalir639@nnacell.com        xadalir639@nnacell.com      3
0                                NaN                           NaN      3

[280 rows x 3 columns]

In [35]:
final[final["Please fill your full name?"]=="Komal patil"]

,ID,Start time,Completion time,Please fill your full name?,Please fill your email?,Total points,score
264,265,2021-07-03 16:34:54,2021-07-03 16:56:15,Komal patil,patilkommu8383@gmail.com,27,29
269,270,2021-07-03 16:59:14,2021-07-03 17:05:21,Komal patil,Patilkommu8383@gmail.com,41,38
271,272,2021-07-03 17:07:03,2021-07-03 17:09:50,Komal patil,Patilkommu8383@gmail.com,51,48

In [36]:
final['time']=(final["Completion time"]- final["Start time"]).astype('timedelta64[m]')

<ipython-input-36-86468f5bbeaf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['time']=(final["Completion time"]- final["Start time"]).astype('timedelta64[m]')

In [37]:
final

,ID,Start time,Completion time,Please fill your full name?,Please fill your email?,Total points,score,time
0,1,2021-07-02 21:51:56,2021-07-02 21:52:13,NaN,NaN,1,3,0.0
1,2,2021-07-03 14:13:47,2021-07-03 14:18:16,Vishal thakur,vishalthakur850900@gmail.com,9,11,4.0
2,3,2021-07-03 14:18:11,2021-07-03 14:23:05,Nikita prajapati,Nikitap8912@gmail.com,14,15,4.0
3,4,2021-07-03 14:19:02,2021-07-03 14:23:40,ansh,ansh00@gmail.com,14,15,4.0
4,5,2021-07-03 14:14:44,2021-07-03 14:26:08,Krishna garare,krishnagararekkg@gmail.com,9,9,11.0
...,...,...,...,...,...,...,...,...
275,276,2021-07-03 17:12:25,2021-07-03 17:14:54,Komal patil,Patilkommu8383@gmail.com,57,52,2.0
276,277,2021-07-03 16:20:43,2021-07-03 17:17:03,Ruchita Rani,ruchitarani14@gmail.com,32,31,56.0
277,278,2021-07-03 16:49:17,2021-07-03 17:19:23,Utkarsh Goswami,voraciousutkarsh536@gmail.com,45,47,30.0
278,279,2021-07-03 17:15:25,2021-07-03 17:30:20,Rahul Sagar,rahul47sagar@gmail.com,51,47,14.0
279,280,2021-07-03 17:05:35,2021-07-03 17:35:47,Salma Bano,salmabano0108@gmail.com,19,18,30.0

In [38]:
##RULES 
mintime=20
maxtime= 60
final=final[(final['time'] > mintime)]

In [39]:
final.columns

Index(['ID', 'Start time', 'Completion time', 'Please fill your full name?',
       'Please fill your email?', 'Total points', 'score', 'time'],
      dtype='object')

In [42]:
final.rename(columns={"Please fill your full name?":"Full_name","Please fill your email?":"Email" },inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [43]:
final[["ID", "Full_name", "Email", "time", "score"]].sort_values(by="score", ascending=False)[:10]

      ID              Full_name                        Email   time  score
255  256           Ujjwal Singh      usb9300322722@gmail.com  128.0     55
170  171  Dhiraj kumar kushwaha  dhirajkushwaha002@gmail.com   78.0     55
219  220          Himanshu Soni  himanshunitesh123@gmail.com   98.0     55
89    90           Kartik Verma            kv06010@gmail.com   49.0     53
169  170         Priyanshu jain     Priyansh542003@gmail.com   78.0     52
231  232    Blesson Jacob Sunil    blessonsunil123@gmail.com   31.0     52
203  204          Khushi shukla    khushishukla898@gmail.com   86.0     51
175  176            khushi jain         aakjain312@gmail.com   69.0     51
265  266         Ujjawal sharma    sharmaujjawalji@gmail.com  141.0     50
140  141          HEMANT HAJARE         hemantjnv2@gmail.com   43.0     50

In [50]:
p=input()
a=input()
b=input()

a

c

In [55]:
if p:
    print("p")
    print(final[["ID", "Full_name", "Email", "time", "score"]].sort_values(by="score", ascending=False)[:10])
if a:
    print("a")
if b:
    print("b")

p
      ID              Full_name                        Email   time  score
255  256           Ujjwal Singh      usb9300322722@gmail.com  128.0     55
170  171  Dhiraj kumar kushwaha  dhirajkushwaha002@gmail.com   78.0     55
219  220          Himanshu Soni  himanshunitesh123@gmail.com   98.0     55
89    90           Kartik Verma            kv06010@gmail.com   49.0     53
169  170         Priyanshu jain     Priyansh542003@gmail.com   78.0     52
231  232    Blesson Jacob Sunil    blessonsunil123@gmail.com   31.0     52
203  204          Khushi shukla    khushishukla898@gmail.com   86.0     51
175  176            khushi jain         aakjain312@gmail.com   69.0     51
265  266         Ujjawal sharma    sharmaujjawalji@gmail.com  141.0     50
140  141          HEMANT HAJARE         hemantjnv2@gmail.com   43.0     50
b

In [54]:
if a:
    print("yes")