In [2]:
print("Hello World") #print function prints to the stream

Hello World

# Comments in Python

1. Single Line comment
2. Multiple line comment

In [3]:
#I am single line comment

In [4]:
"""Hello I
am
multiple
line comment"""

'Hello I\nam\nmultiple\nline comment'

# Variables

Variables are the names given to a memory location which contain a data of specific type

# Keywords

Keywords are reserved words which has some predefined meaning

# Identifiers

Identifiers are the name given to identify a memory location such as variable, function name, class name

### Rule for identifier

1. An identifier can contain a-z,A-Z,0-9 and _.
2. An identifier should not contain any space in between
3. An identifier should not contain any special characters
4. An identifier should not start with a number.
5. An identifier should not be a Keyword

In [6]:
_ = 55
print(_)

55

In [7]:
hello world = 99

SyntaxError: invalid syntax (<ipython-input-7-6477a84ce63b>, line 1)

In [8]:
5g = 66

SyntaxError: invalid syntax (<ipython-input-8-455ea9c52f90>, line 1)

In [9]:
f% = 66

SyntaxError: invalid syntax (<ipython-input-9-73f1dd1d7b7f>, line 1)

In [10]:
for = 99

SyntaxError: invalid syntax (<ipython-input-10-10a673d2d736>, line 1)

# Data Types

    1. Numbers
        a. int
        b. float
        c. Complex
    2. Strings
    3. List
    4. Tuple
    5. Set
    6. Dictionary
    7. Boolean

# Numbers

###  int

In [5]:
a = 99
print(a)

99

In [11]:
a = 066
print(a)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-11-8bc47c8f65d6>, line 1)

### float

In [12]:
a = 454.4554
print(a)

454.4554

In [13]:
print(type(a))

<class 'float'>

In [14]:
t = 54.4553463463454353253464
print(t)

54.455346346345436

### complex

In [15]:
t = 6+9j

In [17]:
print(t)

(6+9j)

In [18]:
y = 5-2j
print(y)

(5-2j)

# Strings

A string is a combination of characters

In [19]:
s = ''

In [20]:
print(type(s))

<class 'str'>

In [22]:
s1 = 'Hello' #inline 
s2 = "World" #inline
s3 = """Hello World"""  #multiple line
print(s1,type(s1))
print(s2,type(s2))
print(s3,(type(s3)))

Hello <class 'str'>
World <class 'str'>
Hello World <class 'str'>

In [23]:
s = "Hello
world"

SyntaxError: EOL while scanning string literal (<ipython-input-23-3bcc6dfb85ba>, line 1)

In [24]:
s1 = """Hello
world"""

In [25]:
print(s1)

Hello
world

In [26]:
letter = """Hello Dear, 
                Dude How are you?? Are You fine???
             I am fine here """

In [27]:
print(letter)

Hello Dear,
                Dude How are you?? Are You fine???
             I am fine here

### Escape Sequence

In [30]:
print('He said,"I am a bad boy"')

He said,"I am a bad boy"

In [31]:
print("He said,\"I am a bad boy\"")

He said,"I am a bad boy"

In [32]:
print("He said,\nI am a bad boy")

He said,
I am a bad boy

In [33]:
print("He said,\tI am a bad boy")

He said,	I am a bad boy

In [34]:
#Memory implementation of strings

In [35]:
#ARRAY --> It is a collection of elements having same data type

In [36]:
s = "Hello World"

In [37]:
s[0]

'H'

In [38]:
s[10]

'd'

In [39]:
s[5]

' '

In [40]:
s[-4]

'o'

In [41]:
s[-10]

'e'

### Slicing

In [42]:
#s[start:stop:direction/step]

In [43]:
s[:]

'Hello World'

In [45]:
s[0:5]

'Hello'

In [46]:
s[6:11]

'World'

In [47]:
s[1:-3]

'ello Wo'

In [48]:
s[::2]

'HloWrd'

In [49]:
s[1:9:3]

'eoo'

In [50]:
s[-10:8:1]

'ello Wo'

In [51]:
s[::-1]

'dlroW olleH'

In [52]:
s[-4:3:-1]

'oW o'

In [53]:
s[-5:1:-2]

'Wol'

In [54]:
s[1:-4:2]

'el '

In [55]:
s[:3:-2]

'drWo'

In [56]:
s[2::-2]

'lH'

In [57]:
s[2:-2:-2]

''

# Properties of strings

1. Sequential
2. Ordered
3. Immutable

In [58]:
s

'Hello World'

In [62]:
s[6]="h"

TypeError: 'str' object does not support item assignment

In [63]:
s[6]

'W'

In [65]:
print(type(s))

<class 'str'>

In [66]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [67]:
s

'Hello World'

In [68]:
#__add__ --> magic methods

In [69]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [1]:
print?

In [71]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [3]:
s = "Hello World"

In [4]:
s.capitalize()

'Hello world'

In [74]:
s.upper()

'HELLO WORLD'

In [75]:
s.lower()

'hello world'

In [76]:
s

'Hello World'

In [77]:
s.swapcase()

'hELLO wORLD'

In [78]:
s.center(100)

'                                            Hello World                                             '

In [79]:
s.center(100,'*')

'********************************************Hello World*********************************************'

In [81]:
s.ljust(100,'^')

'Hello World^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^'

In [82]:
s.rjust(100,":")

':::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::Hello World'

In [83]:
s.center?

In [5]:
s.count('l')

3

In [6]:
s.count('z')

0

In [8]:
type(s.encode())

bytes

In [9]:
s.endswith('d')

True

In [10]:
s.endswith('r')

False

In [11]:
s.startswith('h')

False

In [12]:
s.startswith('H')

True

In [20]:
s.endswith("orld")

True

In [25]:
print(type(s.encode()))

<class 'bytes'>

In [30]:
"Hello\tWorld".expandtabs(tabsize=50)

'Hello                                             World'

In [31]:
'Hello                                           World'

'Hello                                           World'

In [32]:
s.find('ll')

2

In [33]:
s.find('ld')

9

In [34]:
s.index('H')

0

In [35]:
s.index('l')

2

In [36]:
s.index('ld')

9

In [37]:
s.find('z')

-1

In [38]:
s.index('z')

ValueError: substring not found

In [39]:
#the methods whose name starting with 'is' will return True or False value

In [40]:
"a".isdigit()

False

In [41]:
"a".isalpha()

True

In [43]:
"654".isdigit()

True

In [44]:
"6g".isidentifier()

False

In [45]:
"Hello World".isidentifier()

False

In [46]:
"for".isidentifier()

True

In [47]:
for = 88

SyntaxError: invalid syntax (<ipython-input-47-1e2529a86906>, line 1)

In [48]:
a = "Hello"
a.isprintable()

True

In [49]:
s

'Hello World'

In [50]:
s.split()

['Hello', 'World']

In [53]:
"Hello My Name Is Ravi Ramawat and I have experience of more than 3 years in Python".split(sep="a")

['Hello My N',
 'me Is R',
 'vi R',
 'm',
 'w',
 't ',
 'nd I h',
 've experience of more th',
 'n 3 ye',
 'rs in Python']

In [57]:
"Hello My Name Is Ravi Ramawat and I have experience of more than 3 years in Python".upper().replace(' ', '_').split(sep="_")

['HELLO',
 'MY',
 'NAME',
 'IS',
 'RAVI',
 'RAMAWAT',
 'AND',
 'I',
 'HAVE',
 'EXPERIENCE',
 'OF',
 'MORE',
 'THAN',
 '3',
 'YEARS',
 'IN',
 'PYTHON']

In [56]:
"Hello My Name Is Ravi Ramawat and I have experience of more than 3 years in Python".replace(' ','_')

'Hello_My_Name_Is_Ravi_Ramawat_and_I_have_experience_of_more_than_3_years_in_Python'

In [63]:
" ".join(['HELLO','MY','NAME','IS','RAVI','RAMAWAT','AND','I','HAVE','EXPERIENCE','OF','MORE','THAN','3','YEARS','IN','PYTHON'])

'HELLO MY NAME IS RAVI RAMAWAT AND I HAVE EXPERIENCE OF MORE THAN 3 YEARS IN PYTHON'

In [64]:
s.splitlines()

['Hello World']

In [72]:
s1 = "Hello\nhi\nbye\nbye"

In [73]:
s1.splitlines()

['Hello', 'hi', 'bye', 'bye']

In [74]:
s1.split('\n')

['Hello', 'hi', 'bye', 'bye']

In [78]:
s.rsplit()

['Hello', 'World']

In [79]:
"Hello My Name Is Ravi Ramawat and I have experience of more than 3 years in, Python".rsplit(' ')

['Hello',
 'My',
 'Name',
 'Is',
 'Ravi',
 'Ramawat',
 'and',
 'I',
 'have',
 'experience',
 'of',
 'more',
 'than',
 '3',
 'years',
 'in',
 'Python']

In [88]:
s = "Hello World"

In [89]:
s.split()

['Hello', 'World']

In [90]:
s.rsplit()

['Hello', 'World']

In [93]:
s.partition(" ")

('Hello', ' ', 'World')

### format

In [94]:
a = "Amar"
b = "Akbar"
c = "Anthony"
print("Hello {} hi {} hey {}".format(a,b,c))

Hello Amar hi Akbar hey Anthony

In [95]:
print("Hello {2} hi {1} hey {0}".format(a,b,c)) #format of python 2.7

Hello Anthony hi Akbar hey Amar

In [96]:
print(f"Hello {a} HI {b} hey {c}")

Hello Amar HI Akbar hey Anthony

In [97]:
print(f"Hello {b} HI {b} hey {c}")

Hello Akbar HI Akbar hey Anthony

In [106]:
print(f"Hello {a:<20} HI {b:>10} hey {c:^30}")

Hello Amar                 HI      Akbar hey            Anthony

In [110]:
a = 4.4536346234564635634634634
print(f"Hi this float value --> {a:.3f}")

Hi this float value --> 4.454

# List

In [111]:
#List is a collection elements having same or different data types

In [113]:
l = []  #Emptylist
print(l)
print(type(l))

[]
<class 'list'>

In [114]:
#Slicing on List same as strings

In [115]:
l = [124,23,5,346,45,7,5,462,432,62,34,642,6,4,64,36,24,6,34] #Homogenous List

In [116]:
print(l)

[124, 23, 5, 346, 45, 7, 5, 462, 432, 62, 34, 642, 6, 4, 64, 36, 24, 6, 34]

In [119]:
l1 = ['Ravi','Hello',45.3453,535.353,53434,35,36,4365,6+6j,9-2J] #Heterogeous

In [118]:
print(l1)

['Ravi', 'Hello', 45.3453, 535.353, 53434, 35, 36, 4365, (6+6j), (9-2j)]

In [120]:
l[0]

124

In [121]:
l

[124, 23, 5, 346, 45, 7, 5, 462, 432, 62, 34, 642, 6, 4, 64, 36, 24, 6, 34]

In [122]:
l[-1]

34

In [123]:
l[5]

7

In [126]:
l1[0][-1]

'i'

In [127]:
l1

['Ravi', 'Hello', 45.3453, 535.353, 53434, 35, 36, 4365, (6+6j), (9-2j)]

In [128]:
l1[1][::-1]

'olleH'

In [129]:
l1[::-1][::-1]

['Ravi', 'Hello', 45.3453, 535.353, 53434, 35, 36, 4365, (6+6j), (9-2j)]

In [130]:
#1D list

In [131]:
l = [5325235,2,52,35,23,5,32,5,23,6346,43,52,23,43]
print(l)

[5325235, 2, 52, 35, 23, 5, 32, 5, 23, 6346, 43, 52, 23, 43]

In [132]:
l2 = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
]

In [133]:
print(l2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [137]:
l2[2][2]

9

In [138]:
l3 = [
    [
       [9,8,7],[6,5,4],[3,2,1] 
    ],
    [
       [1,2,3],[4,5,6],[7,8,9] 
    ],
]

In [139]:
print(l3)

[[[9, 8, 7], [6, 5, 4], [3, 2, 1]], [[1, 2, 3], [4, 5, 6], [7, 8, 9]]]

In [141]:
l3[1][2][1] = 999 #Mutable

In [142]:
l3

[[[9, 8, 7], [6, 5, 4], [3, 2, 1]], [[1, 2, 3], [4, 5, 6], [7, 999, 9]]]

# Properties of list

1. Sequential
2. Ordered
3. Mutable

In [145]:
a = list("abcde")
print(a)

['a', 'b', 'c', 'd', 'e']

In [146]:
a[-2] = a[-1]
print(a)

['a', 'b', 'c', 'e', 'e']

## Practice

In [147]:
a = 5
b = 2

In [148]:
print(id(a))

140711012476832

In [149]:
print(id(b))

140711012476736

In [150]:
c = 5
print(id(c))

140711012476832

In [151]:
s = "Hello"
s1 = "Hello"
print(id(s))
print(id(s1))

2550456714992
2550456714992

In [152]:
s = "Hello World"
s1 = "Hello World"
print(id(s))
print(id(s1))

2550458219312
2550458218992

In [154]:
s.__sizeof__()

60

In [161]:
r = 4534534643634643623523543654364765474575675436436547546876586789764563455436534654756463453634643

In [162]:
r.__sizeof__()

68

In [163]:
j = 4534534643634643623523543654364765474575675436436547546876586789764563455436534654756463453634643

In [164]:
print(id(r))
print(id(j))

2550452722464
2550452722384

In [178]:
s = "Hello_Worlddddddddd"
s1 = "Hello_Worlddddddddd"
print(id(s))
print(id(s1))

2550456031232
2550456031232

In [179]:
s.__sizeof__()

68

In [180]:
s1.__sizeof__()

68

In [181]:
#WHY??

In [1]:
s = "Hello-World"

In [2]:
s1 = "Hello-World"

In [3]:
print(id(s))
print(id(s1))

2397974780208
2397974835696

# List

In [4]:
#It is a collection of elements having same or different type of data

In [5]:
l = []  #representation by using square brackets

In [6]:
print(type(l))

<class 'list'>

In [7]:
print(l)

[]

In [9]:
l1 = [124,32,5234,6,34,6,23,4,23,5,34,65,4,634,5,32,523,5,42]  #Homogenous List
l2 = ['Ravi','Ramawat','Hello',234,325,4,45,523.4,34.43,4.43,9+3j,6+5j] #Heterogenous list

In [11]:
print(l1)

[124, 32, 5234, 6, 34, 6, 23, 4, 23, 5, 34, 65, 4, 634, 5, 32, 523, 5, 42]

In [13]:
print(l2)

['Ravi', 'Ramawat', 'Hello', 234, 325, 4, 45, 523.4, 34.43, 4.43, (9+3j), (6+5j)]

### Properties of list

1. Sequential
2. Ordered
3. Mutable

In [17]:
print("list --> ",l1)

list -->  [124, 32, 5234, 6, 34, 6, 23, 4, 23, 5, 34, 65, 4, 634, 5, 32, 523, 5, 42]

In [18]:
l1[0]

124

In [19]:
l1[-1]

42

In [25]:
l1[2]="python" #mutable

In [24]:
print(l1)

[124, 32, 'python', 6, 34, 6, 23, 4, 23, 5, 34, 65, 4, 634, 5, 32, 523, 5, 42]

In [26]:
#1d

In [27]:
l = [21,412,4,45,132,42,3,423] #1d list

In [28]:
print("1d list --> ",l)

1d list -->  [21, 412, 4, 45, 132, 42, 3, 423]

In [29]:
l2 = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
]

In [30]:
print("2D list --> ",l2)

2D list -->  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
l3 = [
    [
    [1,2,3],
    [4,5,6],
    [7,8,9],],
    [
    [1,2,3],
    [4,5,6],
    [7,8,9],]
]

In [32]:
print("3D list --> ",l3)

3D list -->  [[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[1, 2, 3], [4, 5, 6], [7, 8, 9]]]

In [33]:
l2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [40]:
l2[1][1]=999

In [41]:
l2

[[1, 2, 3], [4, 999, 6], [7, 8, 9]]

In [45]:
l3[0][2][2]=555

In [46]:
l3

[[[1, 2, 3], [4, 5, 6], [7, 8, 555]], [[1, 2, 3], [4, 5, 6], [7, 8, 9]]]

### Slicing is same as strings

In [49]:
l[-2:2:-2]

[3, 132]

### methods of list

In [50]:
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [51]:
#append --> append add a value to the end of the list

In [52]:
l

[21, 412, 4, 45, 132, 42, 3, 423]

In [53]:
l.append(567)

In [54]:
l

[21, 412, 4, 45, 132, 42, 3, 423, 567]

In [55]:
l.append([1,2,3,4,5])

In [56]:
print(l)

[21, 412, 4, 45, 132, 42, 3, 423, 567, [1, 2, 3, 4, 5]]

In [57]:
l.extend(55)

TypeError: 'int' object is not iterable

In [60]:
"123"[0]

'1'

In [61]:
l.extend([9,8,7,6])

In [62]:
l

[21, 412, 4, 45, 132, 42, 3, 423, 567, [1, 2, 3, 4, 5], 9, 8, 7, 6]

In [64]:
l1.clear()

In [65]:
l1

[]

In [66]:
print(l)

[21, 412, 4, 45, 132, 42, 3, 423, 567, [1, 2, 3, 4, 5], 9, 8, 7, 6]

In [67]:
l.count(4)

1

In [69]:
l[-5]

[1, 2, 3, 4, 5]

In [71]:
l1 = l.copy()

In [72]:
l2 = l

In [73]:
print(l)
print(l1)
print(l2)

[21, 412, 4, 45, 132, 42, 3, 423, 567, [1, 2, 3, 4, 5], 9, 8, 7, 6]
[21, 412, 4, 45, 132, 42, 3, 423, 567, [1, 2, 3, 4, 5], 9, 8, 7, 6]
[21, 412, 4, 45, 132, 42, 3, 423, 567, [1, 2, 3, 4, 5], 9, 8, 7, 6]

In [74]:
l.pop()

6

In [75]:
print(l)
print(l1)
print(l2)

[21, 412, 4, 45, 132, 42, 3, 423, 567, [1, 2, 3, 4, 5], 9, 8, 7]
[21, 412, 4, 45, 132, 42, 3, 423, 567, [1, 2, 3, 4, 5], 9, 8, 7, 6]
[21, 412, 4, 45, 132, 42, 3, 423, 567, [1, 2, 3, 4, 5], 9, 8, 7]

In [76]:
l.index([1,2,3,4,5])

9

In [77]:
l.index(999)

ValueError: 999 is not in list

In [78]:
l.insert(3,555)

In [79]:
l

[21, 412, 4, 555, 45, 132, 42, 3, 423, 567, [1, 2, 3, 4, 5], 9, 8, 7]

In [80]:
l.pop()

7

In [81]:
l.pop()

8

In [82]:
l.pop(-2)

[1, 2, 3, 4, 5]

In [83]:
l

[21, 412, 4, 555, 45, 132, 42, 3, 423, 567, 9]

In [84]:
l.remove(555)

In [85]:
l

[21, 412, 4, 45, 132, 42, 3, 423, 567, 9]

In [86]:
l.reverse()

In [87]:
l

[9, 567, 423, 3, 42, 132, 45, 4, 412, 21]

In [88]:
l.sort() #ascending order

In [89]:
l

[3, 4, 9, 21, 42, 45, 132, 412, 423, 567]

In [90]:
l.sort(reverse=True) #Decending order

In [91]:
print(l)

[567, 423, 412, 132, 45, 42, 21, 9, 4, 3]

# Tuple

In [92]:
#It is a collection elements having same or different data types  (tuple is immutable)

In [93]:
t = ()
print(type(t))

<class 'tuple'>

In [94]:
t1 = (312,3,325342,76,5,745,643,534,5,23,5,325,45756,8)
print(t1)
print(type(t1))

(312, 3, 325342, 76, 5, 745, 643, 534, 5, 23, 5, 325, 45756, 8)
<class 'tuple'>

In [95]:
t1[0]

312

In [96]:
t1[2]

325342

In [97]:
t1[-1]

8

In [100]:
t1[4] = 99 #immutablity

TypeError: 'tuple' object does not support item assignment

In [101]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [103]:
t1.count(5)

3

In [104]:
t1.index(5)

4

# Dictionary

In [105]:
d = {'Key':'Value'}

In [106]:
print(type(d))

<class 'dict'>

In [108]:
d = {}
type(d)

dict

In [109]:
d1 = {'int':34,
      'float':23.45,
       'str':"Hello"}

In [110]:
print(d1)

{'int': 34, 'float': 23.45, 'str': 'Hello'}

In [111]:
d2 = {1:"hi",2:"Hello",1:"Hey"}

In [112]:
print(d2)

{1: 'Hey', 2: 'Hello'}

In [113]:
d2 = {1:"Hey",2:"Hello",3:"Hey"}

In [114]:
print(d2)

{1: 'Hey', 2: 'Hello', 3: 'Hey'}

In [116]:
d2 = {'Name':'Python','Father':'GVR','Frame-Works':["Flask","Django","Pyramid"],"Versions":[1,2,3]}

In [117]:
print(d2)

{'Name': 'Python', 'Father': 'GVR', 'Frame-Works': ['Flask', 'Django', 'Pyramid'], 'Versions': [1, 2, 3]}

In [119]:
d2['Name']

'Python'

In [120]:
d2['Father']

'GVR'

In [121]:
d2['Frame-Works']

['Flask', 'Django', 'Pyramid']

In [122]:
d2['Frame-Works'][1][::-1]

'ognajD'

In [125]:
d1['str'] = "HEy"

In [126]:
d1

{'int': 34, 'float': 23.45, 'str': 'HEy'}

In [127]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [129]:
{}.fromkeys("Ravi","Python")

{'R': 'Python', 'a': 'Python', 'v': 'Python', 'i': 'Python'}

In [130]:
d2['Name']

'Python'

In [131]:
d2.get('Name')

'Python'

In [132]:
d1.keys()

dict_keys(['int', 'float', 'str'])

In [133]:
d1.values()

dict_values([34, 23.45, 'HEy'])

In [142]:
d1.items()

dict_items([('int', 34), ('float', 23.45), ('str', 'HEy'), ('List', [2, 352, 35, 234, 5, 34])])

In [135]:
d1.setdefault('List',[2,352,35,234,5,34])

[2, 352, 35, 234, 5, 34]

In [144]:
d1.setdefault('List',[24,3,253,25,3,5])

[2, 352, 35, 234, 5, 34]

In [146]:
d1.pop('List')

[2, 352, 35, 234, 5, 34]

In [147]:
d1

{'int': 34, 'float': 23.45, 'str': 'HEy'}

In [148]:
d1.popitem()

('str', 'HEy')

In [149]:
d1

{'int': 34, 'float': 23.45}

In [150]:
d1.update([('int',99),('float',55.5)])

In [151]:
d1

{'int': 99, 'float': 55.5}

In [152]:
#Nested Dictionary

In [153]:
d = {'Grras':{'Python':{"Trainer":['Ravi',"Simran","Sachin"]},"Linux":{"Trainer":["Kushal","Ujjwal"]},"AWS":{"Trainer":["Rajat","Mayank"]},"JS":{"Trainer":"Sanjay"}}}

In [154]:
print(d)

{'Grras': {'Python': {'Trainer': ['Ravi', 'Simran', 'Sachin']}, 'Linux': {'Trainer': ['Kushal', 'Ujjwal']}, 'AWS': {'Trainer': ['Rajat', 'Mayank']}, 'JS': {'Trainer': 'Sanjay'}}}

In [155]:
d.keys()

dict_keys(['Grras'])

In [157]:
d['Grras'].keys()

dict_keys(['Python', 'Linux', 'AWS', 'JS'])

In [160]:
d["Grras"]["Python"]["Trainer"][1]

'Simran'

In [165]:
d["Grras"]["AWS"]["Trainer"][0]

'Rajat'

In [166]:
pprint

Pretty printing has been turned OFF

In [167]:
from pprint import pprint

In [168]:
pprint(d)

{'Grras': {'AWS': {'Trainer': ['Rajat', 'Mayank']},
           'JS': {'Trainer': 'Sanjay'},
           'Linux': {'Trainer': ['Kushal', 'Ujjwal']},
           'Python': {'Trainer': ['Ravi', 'Simran', 'Sachin']}}}

In [169]:
print(d)

{'Grras': {'Python': {'Trainer': ['Ravi', 'Simran', 'Sachin']}, 'Linux': {'Trainer': ['Kushal', 'Ujjwal']}, 'AWS': {'Trainer': ['Rajat', 'Mayank']}, 'JS': {'Trainer': 'Sanjay'}}}

# Set

In [170]:
#A set is a collection of well defined objects

In [176]:
s = set({})
print(type(s))

<class 'set'>

In [178]:
s = {12,1,2412,1,141,2,412,4114,1,141,41,411,4,1,1,1,1,1,1,1,1,1,1,1}

In [179]:
print(s)

{1, 2, 4, 41, 2412, 12, 141, 4114, 411, 412}

In [180]:
s1 = {1,2,3,4}
s2 = {4,5,6,7}

In [181]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [182]:
s1.intersection(s2)

{4}

In [183]:
s1.difference(s2)

{1, 2, 3}

In [184]:
s2.difference(s1)

{5, 6, 7}

In [185]:
s1.symmetric_difference(s2)

{1, 2, 3, 5, 6, 7}

# Boolean

1. True
2. False