    mysql -u root -p  #-u --> option (user) -p --> password
    password: (enter)
    
    mysql shell 
    
    and enter bcz the present password of root is empty

##### Data Types in Mysql

    create table table_name(col_name1 datatype, col_name2 datatype, ......)

    Student 
    
        1. sid
        2. name
        3. age
        4. course
        
        
    Hackerrank SQL questions....

    char --> fix
    varchar --> variable
    
    address char(100)             address varchar(100)
    A-47, Malviya Nagar           A-47, Malviya Nagar
    
    100-18 = 82                   100-18 = 82(it will release 82 char to give other people
    (Useless)                              to use)
     It will not 
     release

In [1]:
100-18

82

### Aggregate Functions

    1. avg
    2. count --> counting number of not null rows/column
    3. max
    4. min
    5. sum

    #### Fees Table 
    
        Fid --> primary key
        Sid --> foreign key --> student
        fees 
        paid
        discount
        
        
    #### Address Table
        
        Aid --> primary key 
        Sid --> Foreign key 
        street
        city
        state

### Joins

    If we want to merge 2 data tables 
    
    1. Outer join
        Union that the data from both the tables
    2. Inner Join
            s1 = {1, 2, 3, 4}
            s2 = {2, 3, 4, 5}
            Here we can easily find the intersection 
            
                    Table1                       Table2
            ID     Name     Age            SID    City    State
            1                               1
            2                               4 
            3                               5
            
            
            Here we need to specify using which column we need to find the common
            Here
            we need to find common between ID and SID
            
    3. Left Join
        It will give whole of left table and the common data of right table 
        table1 left join table2
            Which common data to give between table1 and table2 will be specified in the condition
            
    4. Right Join 
        It will give whole data of right table and the common data of left table 
        table1 right join table2
            Which common data to give between table1 and table2 will be specified in the condition
            
            
    select * from table1 inner/left/right join table2 on table1.id = table2.sid where condition;
    
    After on there is condition for join

     You need to find the name of student and course living in jaipur having course either python or data science or advance python 
 
     Join

    You need to tell me the sid, name, course, fees, street, city of the students having paid<5000 and leftover amount should be greater than 4000

    mysql -u root -p < C:/batches/schema.sql (path of file)