    select sum(population) from t1 inner join t2 on t1.code = t2.code group by code;

    The module or interface we are going to use to connect is
        PyMySQL
        
     SQL Server 
         1. Host 
         2. Port(3306)
         3. User 
         4. Password 
         5. Database (optional)

In [1]:
import pymysql as sql

ModuleNotFoundError: No module named 'pymysql'

    pip install pymysql

In [2]:
import pymysql as sql

In [3]:
db = sql.connect(host="localhost", port=3306, user='root', password='')

In [4]:
db

In [5]:
cursor = db.cursor()

In [6]:
cursor

In [7]:
print(dir(cursor))

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_check_executed', '_clear_result', '_conv_row', '_do_execute_many', '_do_get_result', '_ensure_bytes', '_escape_args', '_executed', '_get_db', '_nextset', '_query', '_result', '_rows', 'arraysize', 'callproc', 'close', 'connection', 'description', 'execute', 'executemany', 'fetchall', 'fetchmany', 'fetchone', 'max_stmt_length', 'mogrify', 'nextset', 'rowcount', 'rownumber', 'scroll', 'setinputsizes', 'setoutputsizes']

In [8]:
cursor.execute("use batch9am")

0

In [10]:
cursor.execute('select * from students')

ProgrammingError: (1146, "Table 'batch9am.students' doesn't exist")

In [16]:
cursor.execute('select * from student')

10

In [17]:
cursor.fetchall()

((1, 'Surbhi', 'Python', 20),
 (2, 'Yash', 'DS', 22),
 (3, 'Krupali', 'DS', 23),
 (4, 'Aman', 'Advance Python', 22),
 (5, 'Ashish', 'AWS', 24),
 (6, 'Naman', None, 22),
 (7, 'Muskan', 'AWS', 20),
 (8, 'Priya', 'linux', 19),
 (9, 'Prabhakar', 'Python', 20),
 (10, 'priya', 'aws', 21))

In [18]:
db.close()

In [29]:
db = sql.connect(host="localhost", port=3306, user='root', password='', database="batch9am")
cursor = db.cursor()
table = input("\n Which table data you want to fetch(student/fees/address) : ").strip().lower()
try:
    cursor.execute(f'select * from {table}')
except Exceptiontion as error:
    print(f'\n {error}')
else:
    data = cursor.fetchall()
    for value in data:
        print(*value, sep="\t|\t")
db.close()

 Which table data you want to fetch(student/fees/address) : student
1	|	Surbhi	|	Python	|	20
2	|	Yash	|	DS	|	22
3	|	Krupali	|	DS	|	23
4	|	Aman	|	Advance Python	|	22
5	|	Ashish	|	AWS	|	24
6	|	Naman	|	None	|	22
7	|	Muskan	|	AWS	|	20
8	|	Priya	|	linux	|	19
9	|	Prabhakar	|	Python	|	20
10	|	priya	|	aws	|	21
13	|	Rahul	|	AWS	|	20
14	|	Anjali	|	Azure	|	22

In [28]:
db = sql.connect(host="localhost", port=3306, user='root', password='', database="batch9am")
cursor = db.cursor()
while input("\n Enter any key to continue inserting : "):
    name = input("\n Name : ")
    course = input("\n Course : ")
    age = int(input("\n Age : "))
    cmd = f"insert into student(name, course, age) values('{name}', '{course}', {age})"
    cursor.execute(cmd)
    db.commit()  # permanently save
    print("\n Data inserted successfully.....")
db.close()

 Enter any key to continue inserting : k

 Name : Rahul

 Course : AWS

 Age : 20

 Data inserted successfully.....

 Enter any key to continue inserting : Anjali

 Name : Anjali

 Course : Azure

 Age : 22

 Data inserted successfully.....

 Enter any key to continue inserting :

    1. You will have a csv file or any other file where values are separated with something 
        you have to read to read that file and store every data in database
        |, \t, ,
        
    2. Ask from use in which table he/she want to work 
        and ask table from the user untill and unless it exists
        
            a. Student
                1. Select
                2. Insert
                3. Update 
                    update table set columnname=newvalue where sid=1
                        1. columnname
                        2. newvalue
                        3. sid
                4. Write Own Query for select 
                    user will write the query and you have to show the result for it 
                   
            b. Fees
                1. Select
                2. Insert
                3. Update 
                    update table set columnname=newvalue where sid=1
                        1. columnname
                        2. newvalue
                        3. sid
                        4. fid
                4. Write Own Query for select 
                    user will write the query and you have to show the result for it 
            c. Address
                1. Select
                2. Insert
                3. Update 
                    update table set columnname=newvalue where sid=1
                        1. columnname
                        2. newvalue
                        3. sid
                        4. aid
                4. Write Own Query for select 
                    user will write the query and you have to show the result for it

#### SQLITE
    
    SQL database 
    It works on files 
    Database --> File 
    
    Medium/Interface --> sqlite3
    
    
    The database at which you want to connect if it already exists then it gets connected
    else it create the database and connect with it

In [30]:
import sqlite3 as sql

In [31]:
db = sql.connect("Employee.db")

In [32]:
db

In [33]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 766E-A7C0

 Directory of C:\batches\online_batch\python_batch_830am\Database

09-09-2021  10:32    <DIR>          .
09-09-2021  10:32    <DIR>          ..
09-09-2021  09:27    <DIR>          .ipynb_checkpoints
27-08-2021  14:11           101,421 1_2. Database_Theory.ipynb
03-09-2021  10:23             5,606 3_4_5. Database.ipynb
07-09-2021  10:04             1,669 7. Database.ipynb
09-09-2021  10:31            22,412 8. Database_Connectivity.ipynb
02-09-2021  10:25    <DIR>          Assignment
09-09-2021  10:32                 0 Employee.db
02-09-2021  10:25    <DIR>          notes
08-09-2021  10:22            41,486 practice.txt
31-08-2021  10:33            21,504 query1.txt
01-09-2021  10:32            13,778 query2.txt
02-09-2021  10:24            25,157 query3.txt
03-09-2021  10:23            25,325 query4.txt
07-09-2021  10:19            31,005 query5.txt
              11 File(s)        289,363 bytes
               5 Dir(s)  186,188,136,448 bytes free

In [34]:
cursor = db.cursor()

In [35]:
cursor

In [36]:
cmd = "create table employee(eid int(5), name varchar(100), city varchar(100))"
cursor.execute(cmd)

In [37]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 766E-A7C0

 Directory of C:\batches\online_batch\python_batch_830am\Database

09-09-2021  10:34    <DIR>          .
09-09-2021  10:34    <DIR>          ..
09-09-2021  09:27    <DIR>          .ipynb_checkpoints
27-08-2021  14:11           101,421 1_2. Database_Theory.ipynb
03-09-2021  10:23             5,606 3_4_5. Database.ipynb
07-09-2021  10:04             1,669 7. Database.ipynb
09-09-2021  10:33            25,063 8. Database_Connectivity.ipynb
02-09-2021  10:25    <DIR>          Assignment
09-09-2021  10:34             8,192 Employee.db
02-09-2021  10:25    <DIR>          notes
08-09-2021  10:22            41,486 practice.txt
31-08-2021  10:33            21,504 query1.txt
01-09-2021  10:32            13,778 query2.txt
02-09-2021  10:24            25,157 query3.txt
03-09-2021  10:23            25,325 query4.txt
07-09-2021  10:19            31,005 query5.txt
              11 File(s)        300,206 bytes
               5 Dir(s)  186,187,902,976 bytes free

In [38]:
db.close()

In [39]:
db = sql.connect('Employee.db')
cursor = db.cursor()
try:
    cursor.execute(f'select * from employee')
except Exception as error:
    print(f'\n {error}')
else:
    data = cursor.fetchall()
    for value in data:
        print(*value, sep="\t|\t")
db.close()

In [40]:
db = sql.connect("Employee.db")
cursor = db.cursor()
while input("\n Enter any key to continue inserting : "):
    id_ = int(input("\n Id : "))
    name = input("\n Name : ")
    city = input("\n City : ")
    cmd = f"insert into employee values({id_}, '{name}', '{city}')"
    cursor.execute(cmd)
    db.commit()  # permanently save
    print("\n Data inserted successfully.....")
db.close()

 Enter any key to continue inserting : k

 Id : 1

 Name : simran

 City : jaiput

 Data inserted successfully.....

 Enter any key to continue inserting : i

 Id : 2

 Name : sachin

 City : jaipur

 Data inserted successfully.....

 Enter any key to continue inserting : 4

 Id : 4

 Name : ravi

 City : delhi

 Data inserted successfully.....

 Enter any key to continue inserting :

In [43]:
db = sql.connect('Employee.db')
cursor = db.cursor()
try:
    cursor.execute(f'select * from employee')
except Exception as error:
    print(f'\n {error}')
else:
    data = cursor.fetchall()
    for value in data:
        print(*value, sep="\t|\t")
db.close()

1	|	simran	|	jaiput
2	|	sachin	|	jaipur
4	|	ravi	|	delhi

In [45]:
db = sql.connect('Employee.db')
cursor = db.cursor()
try:
    cursor.execute(f'select * from employee')
except Exception as error:
    print(f'\n {error}')
else:
    data = cursor.fetchone()
    # print(data)
    print(*data, sep="\t|\t")
db.close()

1	|	simran	|	jaiput

In [46]:
### jupyter notebook, http