In [30]:
import mysql.connector

In [36]:
def select_QUERY(x):
    inputx = 0
    print(db)
    print(myc)
    print(a)
    while inputx != "#":
        row = input("Select what you want to show: ")
        print(row)
        print(myc)
        myc.execute(f"select {row} from {x};")
        print(myc)
        data = myc.fetchall()
        for value in data:
            print(*value, sep="\t\t|\t")
        print("\n1.Press Enter to Continue\n#.To go back \n")
        inputx = input("")


def update_QUERY(x):
    inputx = 0
    print(a)
    while inputx != '#':
        cname = input("Column name: ")
        nvalue = input("New Value: ")
        sid = input("SID: ")
        myc.execute(f"update {x} set {cname}='{nvalue}' where sid = {sid};",
                    multi=True)
        db.commit()
        print(
            "\nData UPDATED successfully.....\n#.TO go back \nPresee Enter to conitnue"
        )
        inputx = input("")


def own_QUERY():
    inputx = 0
    while inputx != "#":
        cmd = input("Enter YOur Query: ")
        myc.execute(cmd)
        data = myc.fetchall()
        for value in data:
            print(*value, sep="\t|\t")
        db.commit()
        print(
            "\nQuery successfully ran.....\n#.TO go back \nPresee Enter to conitnue"
        )
        inputx = input()


def insert_QUERY(x):
#     myc = database_CONNECTIVITY()
    print("myc in insert: ",myc)
    inputx = 0
    while inputx != "#":
        if x == 'student':
            sid = input("SID: ")
            name = input("Name: ")
            course = input("Course: ")
            age = input("Age: ")
            myc.execute(
                f"insert into student values({sid}, '{name}', '{course}',{age})"
            )

        elif x == 'fees':
            cid = input("CID: ")
            course = input("Course: ")
            fees = input("Fees: ")
            myc.execute(f"insert into fees values({cid},'{course}',{fees})")

        elif x == 'address':
            sid = input("SID: ")
            name = input("Name: ")
            city = input("City: ")
            myc.execute(
                f"insert into address values({sid}, '{name}','{city}')")

        db.commit()
        print(
            "\nData INSERTED successfully.....\n#.TO go back \nPresee Enter to conitnue"
        )

        inputx = input("")


def print_2nd():
    print(
        "\nSelect the Query:student\n1.select\n2.Insert\n3.update\n4.Own Query\n#.To go back"
    )
    return input("")


def database_CONNECTIVITY():
    db = mysql.connector.connect(host="sql545.main-hosting.eu",
                                 port=3306,
                                 user='u681323537_grras_SQL',
                                 password='5;YbQ1!JtPpY',
                                 db="u681323537_learnsql")

    myc = db.cursor()
    print("print myc: ",myc)
    return(myc)


def table_select(x):
    input_ = 0
    while input_ != "#":
        input_ = print_2nd()
        if input_ == "1":
            select_QUERY(x)

        elif input_ == '2':
            insert_QUERY(x)

        elif input_ == '3':
            update_QUERY(x)

        elif input_ == '4':
            own_QUERY()

In [ ]:
db = mysql.connector.connect(host="sql545.main-hosting.eu",
                             port=3306,
                             user='u681323537_grras_SQL',
                             password='5;YbQ1!JtPpY',
                             db="u681323537_learnsql")

myc = db.cursor()
print(myc)

print(db)

if (db):
    print("Connected to:", db.get_server_info(),
          "\nConnection is successfull")
else:
    print("Connection unsuccessfull")

input_ = inputx = 0

a = 'student'
b = 'fees'
c = 'address'

input_ =0
while input_ != "exit":
    print("Slect the TABLE:\na.Student\nb.fees\nc.Address\n#.Type Exit")
    input_ = input("")

    if input_ == 'a' or input_ == 'A':
        table_select(a)

    elif input_ == 'b' or input_ == 'B':
        table_select(b)

    elif input_ == 'c' or input_ == 'C':
        table_select(c)

    elif input_ == 'exit':
        print("Thanks for using all the features")
    else:
        print("Wrong Input, Select Again: ")
        pass


    db.close()

MySQLCursor: (Nothing executed yet)
<mysql.connector.connection.MySQLConnection object at 0x000001327D1F18B0>
Connected to: 5.5.5-10.4.21-MariaDB-cll-lve
Connection is successfull
Slect the TABLE:
a.Student
b.fees
c.Address
#.Type Exit
a

Select the Query:student
1.select
2.Insert
3.update
4.Own Query
#.To go back
1
<mysql.connector.connection.MySQLConnection object at 0x000001327D1F18B0>
MySQLCursor: (Nothing executed yet)
student
Select what you want to show: *
*
MySQLCursor: (Nothing executed yet)
MySQLCursor: select * from student;
1		|	Vikash		|	Data Science		|	21
2		|	kiki		|	Python		|	20
3		|	ravi		|	SQL		|	27
4		|	rahul		|	sql		|	29
5		|	Shastri		|	Linux		|	39
6		|	Rohan		|	Python		|	54
9		|	Aarav		|	Linux		|	23
7		|	kiki		|	new		|	23
90		|	sahil		|	ds		|	24
35		|	new		|	new		|	25
65		|	newe		|	sd		|	54

1.Press Enter to Continue
#.To go back

#

Select the Query:student
1.select
2.Insert
3.update
4.Own Query
#.To go back

In [ ]:
db = mysql.connector.connect(host="sql545.main-hosting.eu",
                             port=3306,
                             user='u681323537_grras_SQL',
                             password='5;YbQ1!JtPpY',
                             db="u681323537_learnsql")

myc = db.cursor()


sid = input("SID: ")
name = input("Name: ")
course = input("Course: ")
age = input("Age: ")
myc.execute(
    f"insert into student values({sid}, '{name}', '{course}',{age})",
    multi=True)
db.commit()
db.close