In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize'] =11,5
plt.rcParams['figure.dpi'] =100

In [2]:
rd=pd.read_excel("../Dataset/RAW Data with 2 Sheets.xlsx")

In [3]:
rd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 23 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Start Date                                69 non-null     datetime64[ns]
 1   End Date                                  69 non-null     datetime64[ns]
 2   Portfolio name                            69 non-null     object
 3   Currency                                  69 non-null     object
 4   Campaign Name                             69 non-null     object
 5   Ad Group Name                             69 non-null     object
 6   Advertised SKU                            69 non-null     object
 7   Advertised ASIN                           69 non-null     object
 8   Impressions                               69 non-null     int64
 9   Clicks                                    69 non-null     int64
 10  Click-Thru Rate (CTR)                     69 non-null     float64
 11  Cost Per Click (CPC)                      50 non-null     float64
 12  Spend                                     69 non-null     float64
 13  7 Day Total Sales                         69 non-null     float64
 14  Total Advertising Cost of Sales (ACoS)    26 non-null     float64
 15  Total Return on Advertising Spend (RoAS)  50 non-null     float64
 16  7 Day Total Orders (#)                    69 non-null     int64
 17  7 Day Total Units (#)                     69 non-null     int64
 18  7 Day Conversion Rate                     50 non-null     float64
 19  7 Day Advertised SKU Units (#)            69 non-null     int64
 20  7 Day Other SKU Units (#)                 69 non-null     int64
 21  7 Day Advertised SKU Sales                69 non-null     float64
 22  7 Day Other SKU Sales                     69 non-null     float64
dtypes: datetime64[ns](2), float64(9), int64(6), object(6)
memory usage: 12.5+ KB

#### A. What is the Conversion rate across all the Advertised SKU? Which one has the least and highest Conversion rate ?

In [4]:
rd["conversion_rate"] = rd["7 Day Total Orders (#)"]/rd["Clicks"]

In [5]:
rd.groupby("Advertised SKU")["7 Day Conversion Rate"].sum()

Advertised SKU
AE_HHSB_M001_1106E    0.000000
BRH_INS_EUC_90        0.353448
BRH_INS_LAV_90        0.465226
BRH_INS_NAGC_90       0.427852
BRH_INS_ROS_90        0.274634
BRH_INS_SAN_90        0.444903
V4-YKF0-7ZJE          0.000000
Name: 7 Day Conversion Rate, dtype: float64

In [6]:
cr_=rd.groupby("Advertised SKU")["conversion_rate"].sum().to_frame()

In [7]:
cr_

                    conversion_rate
Advertised SKU
AE_HHSB_M001_1106E         0.000000
BRH_INS_EUC_90             0.353448
BRH_INS_LAV_90             0.465226
BRH_INS_NAGC_90            0.427852
BRH_INS_ROS_90             0.274634
BRH_INS_SAN_90             0.444903
V4-YKF0-7ZJE               0.000000

In [8]:
cr_[cr_["conversion_rate"]==cr_["conversion_rate"].max()]

                conversion_rate
Advertised SKU
BRH_INS_LAV_90         0.465226

In [9]:
cr_[cr_["conversion_rate"]==cr_["conversion_rate"].min()]

                    conversion_rate
Advertised SKU
AE_HHSB_M001_1106E              0.0
V4-YKF0-7ZJE                    0.0

In [15]:
rd2=pd.read_excel("../Dataset/RAW Data with 2 Sheets.xlsx", sheet_name="RAW Data 2 For Search Terms")

In [16]:
rd2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 24 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Start Date                                780 non-null    object
 1   End Date                                  780 non-null    object
 2   Portfolio name                            780 non-null    object
 3   Currency                                  780 non-null    object
 4   Campaign Name                             780 non-null    object
 5   Ad Group Name                             780 non-null    object
 6   Targeting                                 780 non-null    object
 7   Match Type                                780 non-null    object
 8   Customer Search Term                      780 non-null    object
 9   Impressions                               780 non-null    int64
 10  Clicks                                    780 non-null    int64
 11  Click-Thru Rate (CTR)                     777 non-null    float64
 12  Cost Per Click (CPC)                      778 non-null    object
 13  Spend                                     780 non-null    object
 14  7 Day Total Sales                         780 non-null    object
 15  Total Advertising Cost of Sales (ACoS)    50 non-null     float64
 16  Total Return on Advertising Spend (RoAS)  778 non-null    float64
 17  7 Day Total Orders (#)                    780 non-null    int64
 18  7 Day Total Units (#)                     780 non-null    int64
 19  7 Day Conversion Rate                     778 non-null    float64
 20  7 Day Advertised SKU Units (#)            780 non-null    int64
 21  7 Day Other SKU Units (#)                 780 non-null    int64
 22  7 Day Advertised SKU Sales                780 non-null    object
 23  7 Day Other SKU Sales                     780 non-null    object
dtypes: float64(4), int64(6), object(14)
memory usage: 146.4+ KB

#### b. Which are the top 10 “customer search terms” getting clicks, but no orders ?
For this use the sheet “RAW Data 2 For Search Terms”

In [47]:
noclicks=rd2[rd2["7 Day Total Orders (#)"]==0]

In [49]:
noclicks["Customer Search Term"].value_counts()[:10]

lavender incense sticks    5
incense sticks             5
incense premium            5
b08rbxj635                 5
phool incense sticks       4
resin incense              4
b01n8v1e2h                 4
b0021gbnpc                 3
sandalwood incense         3
b07bvg6964                 3
Name: Customer Search Term, dtype: int64