In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
bang=pd.read_csv("Dataset/internshala-jobs/BANGALORE.csv")
delhi=pd.read_csv("Dataset/internshala-jobs/DELHI.csv")
hyd=pd.read_csv("Dataset/internshala-jobs/HYDERABAD.csv")
inter=pd.read_csv("Dataset/internshala-jobs/INTERNATIONAL.csv")
kol=pd.read_csv("Dataset/internshala-jobs/KOLKATA.csv")
mum=pd.read_csv("Dataset/internshala-jobs/MUMBAI.csv")

In [3]:
df=pd.concat([bang, delhi, hyd, inter, kol, mum], ignore_index= True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               3000 non-null   object
 1   Date Time         3000 non-null   object
 2   profile           3000 non-null   object
 3   company           3000 non-null   object
 4   Location          3000 non-null   object
 5   Start Date        3000 non-null   object
 6   Stipend           3000 non-null   object
 7   Duration          3000 non-null   object
 8   Apply by Date     3000 non-null   object
 9   Offer             3000 non-null   object
 10  Skills and Perks  3000 non-null   object
dtypes: object(11)
memory usage: 257.9+ KB

In [5]:
df.head()

,_id,Date Time,profile,company,Location,Start Date,Stipend,Duration,Apply by Date,Offer,Skills and Perks
0,5f9fc1e3fb43357b9094a297,2020-11-02 13:52:57,Fashion Design,Enamor,Bangalore,Immediately,5000 /month,2 Months,11 Nov' 20,Internship,"[""MS-Office"",""Adobe Illustrator"",""CorelDRAW"",""..."
1,5f9fc1e4fb43357b9094a298,2020-11-02 13:52:59,Operations,Lakshmi Tools & Components,Hoskote,Immediately,12000 /month,1 Month,16 Nov' 20,Internship,"[""Chemistry"",""Certificate"","" Letter of recomme..."
2,5f9fc1e4fb43357b9094a299,2020-11-02 13:53:00,Photography,Evineon Technologies,Bangalore,Immediately,10000-12000 /month,3 Months,16 Nov' 20,Internship,"[""Flexible work hours"","" Free snacks & beverag..."
3,5f9fc1e5fb43357b9094a29a,2020-11-02 13:53:00,Social Media Marketing,VisualNet Private Limited,Bangalore,Immediately,7000 /month,6 Months,16 Nov' 20,Internship,"[""MS-Office"",""Certificate"","" Letter of recomme..."
4,5f9fc1e6fb43357b9094a29b,2020-11-02 13:53:01,Business Development (Sales),DM Consulting (India) Private Limited,Bangalore,Immediately,5000 /month,6 Months,16 Nov' 20,Internship,[]

In [6]:
df.describe()

,_id,Date Time,profile,company,Location,Start Date,Stipend,Duration,Apply by Date,Offer,Skills and Perks
count,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000
unique,3000,2443,571,1790,48,2,208,13,36,2,1795
top,5f9fcb38fe00d03aec299710,2020-11-02 13:36:26,Business Development (Sales),Lloyd Harrington Australia Proprietary Limited,Delhi,Immediately,5000 /month,3 Months,6 Nov' 20,Internship,"[""Certificate""]"
freq,1,2,446,25,830,2979,367,1149,291,2038,96

In [7]:
df['Stipend'].value_counts(dropna=False)

 5000 /month         367
 10000 /month        299
 8000 /month         126
 15000 /month        118
 2000 /month         116
                    ...
 15500 /month          1
 6000 lump sum         1
 4000 lump sum         1
 17000 /month          1
 6000-9500 /month      1
Name: Stipend, Length: 208, dtype: int64

In [8]:
def clean(x):
    x=x.split('/')
   
    if len(x)>1:
        y =x[1].strip()
    else:
        y=None
    
    if "lump sum" in x[0]:
        print(x)
        x=x[0].split(" ")
        min=x[0]
        max=x[0]
        y="lump sum"
        return min,max,y
        
    x=x[0].split('-')
    
    if len(x)>1:
        min=x[0]
        max=x[1]
    else:
        min = x[0]
        max = x[0]
    return min,max,y

In [9]:
df['moneys']=df['Stipend'].apply(lambda x: clean(x))

[' 2000 lump sum']
[' 6000 lump sum']
[' 20000 lump sum +  Incentives']
[' 30000 lump sum']
[' 21000 lump sum']
[' 2000 lump sum']
[' 2000 lump sum']
[' 2000 lump sum']
[' 10000-15000 lump sum']
[' 15000 lump sum']
[' 10000 lump sum']
[' 3500 lump sum']
[' 1000 lump sum']
[' 8000 lump sum +  Incentives']
[' 10000 lump sum +  Incentives']
[' 2000 lump sum +  Incentives']
[' 15000-25000 lump sum']
[' 40000 lump sum']
[' 20000 lump sum']
[' 10000 lump sum']
[' 5000 lump sum']
[' 4000 lump sum']
[' 5000 lump sum']
[' 5000 lump sum']
[' 1000 lump sum']
[' 3000 lump sum']
[' 2000 lump sum']
[' 15000 lump sum']
[' 20000 lump sum']
[' 21000 lump sum']
[' 2500 lump sum']
[' 2000 lump sum']
[' 2000 lump sum']
[' 5000 lump sum']
[' 2000 lump sum +  Incentives']
[' 21000 lump sum']

In [10]:
df[['min','max','payfreq']]=pd.DataFrame([*df.moneys], df.index)

In [11]:
df['Apply by Date']=df["Apply by Date"].str.replace("'","")

In [12]:
df["Apply by Date"]

0       11 Nov 20
1       16 Nov 20
2       16 Nov 20
3       16 Nov 20
4       16 Nov 20
          ...
2995     9 Nov 20
2996     6 Nov 20
2997     5 Nov 20
2998     2 Nov 20
2999    16 Nov 20
Name: Apply by Date, Length: 3000, dtype: object

import datetime as datetime


df["Apply_by_Date"]=df["Apply by Date"].apply(lambda x: datetime.datetime.strptime(x,'%-d %b %-y').strftime('%d-%m-%Y'))


https://www.programiz.com/python-programming/datetime/strptime

In [13]:
df["Date_time"]=pd.to_datetime(df["Date Time"])

# df['min']= df["min"].astype(str).astype(float)
# df['max']= df["max"].astype(str).astype(float)
# df["min"].astype(str).astype(float)
# df["Apply_date"]=pd.to_datetime(df["Apply by Date"])

In [14]:
df.drop(['_id','Date Time','Stipend','moneys'], axis=1, inplace=True)

In [15]:
df.index = np.arange(1,len(df)+1)

In [16]:
df.index.name= "srno"

In [17]:
df

                           profile  \
srno
1                   Fashion Design
2                       Operations
3                      Photography
4           Social Media Marketing
5     Business Development (Sales)
...                            ...
2996  Business Development (Sales)
2997        Mobile App Development
2998          Human Resources (HR)
2999        Full-stack Development
3000  Business Development (Sales)

                                         company   Location   Start Date  \
srno
1                                         Enamor  Bangalore  Immediately
2                     Lakshmi Tools & Components    Hoskote  Immediately
3                           Evineon Technologies  Bangalore  Immediately
4                      VisualNet Private Limited  Bangalore  Immediately
5          DM Consulting (India) Private Limited  Bangalore  Immediately
...                                          ...        ...          ...
2996  Aliens Art Private Limited (Aliens Tattoo)     Mumbai  Immediately
2997                                    Raw Algo     Mumbai  Immediately
2998   VDBS Consultancy Services Private Limited      Thane  Immediately
2999            Kualify Services Private Limited    Gurgaon  Immediately
3000       Fincomienzo Solutions Private Limited  Ahmedabad  Immediately

      Duration Apply by Date                      Offer  \
srno
1     2 Months     11 Nov 20                 Internship
2      1 Month     16 Nov 20                 Internship
3     3 Months     16 Nov 20                 Internship
4     6 Months     16 Nov 20                 Internship
5     6 Months     16 Nov 20                 Internship
...        ...           ...                        ...
2996  3 Months      9 Nov 20  Internship with job offer
2997  6 Months      6 Nov 20                 Internship
2998  6 Months      5 Nov 20  Internship with job offer
2999  3 Months      2 Nov 20                 Internship
3000  4 Months     16 Nov 20  Internship with job offer

                                       Skills and Perks      min      max  \
srno
1     ["MS-Office","Adobe Illustrator","CorelDRAW","...    5000     5000
2     ["Chemistry","Certificate"," Letter of recomme...   12000    12000
3     ["Flexible work hours"," Free snacks & beverag...    10000   12000
4     ["MS-Office","Certificate"," Letter of recomme...    7000     7000
5                                                    []    5000     5000
...                                                 ...      ...      ...
2996  ["Certificate"," Letter of recommendation"," F...    5000     5000
2997  ["Java","PHP","MySQL","MongoDB","Swift","React...    2000     2000
2998  ["Certificate"," Letter of recommendation"," J...    5000     5000
2999  ["CSS","JavaScript","Node.js","Express.js","Re...    10000   15000
3000  ["Certificate"," Letter of recommendation"," F...    2000     2000

                  payfreq           Date_time
srno
1                   month 2020-11-02 13:52:57
2                   month 2020-11-02 13:52:59
3                   month 2020-11-02 13:53:00
4                   month 2020-11-02 13:53:00
5                   month 2020-11-02 13:53:01
...                   ...                 ...
2996                month 2020-11-02 14:13:29
2997                month 2020-11-02 14:13:30
2998                month 2020-11-02 14:13:31
2999                month 2020-11-02 14:13:33
3000  month +  Incentives 2020-11-02 14:18:13

[3000 rows x 12 columns]

In [37]:
df["Offer"].unique()

array(['Internship', 'Internship with job offer'], dtype=object)

In [35]:
for i in a:
    print(f"<option name='{i}'>{i}</option>")

<option name='2 Months'>2 Months</option>
<option name='1 Month'>1 Month</option>
<option name='3 Months'>3 Months</option>
<option name='6 Months'>6 Months</option>
<option name='4 Weeks'>4 Weeks</option>
<option name='4 Months'>4 Months</option>
<option name='5 Months'>5 Months</option>
<option name='1 Week'>1 Week</option>
<option name='6 Weeks'>6 Weeks</option>
<option name='2 Weeks'>2 Weeks</option>
<option name='12 Months'>12 Months</option>
<option name='36 Months'>36 Months</option>
<option name='24 Months'>24 Months</option>

In [18]:
df.describe()

<ipython-input-18-ea8415b8a3ee>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

,profile,company,Location,Start Date,Duration,Apply by Date,Offer,Skills and Perks,min,max,payfreq,Date_time
count,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,2935,3000
unique,571,1790,48,2,13,36,2,1795,85,92,5,2443
top,Business Development (Sales),Lloyd Harrington Australia Proprietary Limited,Delhi,Immediately,3 Months,6 Nov 20,Internship,"[""Certificate""]",5000,5000,month,2020-11-02 13:28:51
freq,446,25,830,2979,1149,291,2038,96,410,410,2655,2
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-02 13:27:21
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-02 14:39:54

1. Duration and salary range bar graph
2. location highest paid salary and duration
3. scattr plot salary, hue offer
4. top 10 paid and with 10,000 salary offer as internship + job and payment + incentives

In [19]:
skill=df['Skills and Perks']

In [20]:
res=[]
for i in range(1, len(skill)+1):
    e=[]
    for j in range(1, len(skill[i])):
        e=eval(skill[i])
    res.append(e)

In [21]:
list_=[]
for i in range(len(res)):
    for j in range(len(res[i])):
        if res[i][j].strip() not in list_:
            list_.append((res[i][j].strip()))

In [22]:
len(list_)

257

In [23]:
d={}

for i in df['Skills and Perks'].values:
    for j in i:
        if j not in d:
            d[j]+=1
        else:
            d[j]+=1

KeyError: '['

In [ ]:
a, b, c = {"a": "b", "c": "d", "d": "e"}

In [ ]:
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
    i += 1

In [ ]:
l = [10, 12, 'hello', 'bye', 34, 56]
for i in l:
    if len(str(i))%2 == 0:
        break
    print(len(i))

In [ ]:
1 + 2 + 3/6 * 10 // 9

In [ ]:
str1="hello"
c=0
for x in str1:
    if(x!="l"):
       c=c+1
    else:
        pass
print(c)

In [ ]:
i = 0
for i in range(1, 10):
    pass
print(i)

In [ ]:
while infinite:
    print(i)

In [ ]:

i = 0
while i < 5:
    print(i)
    i += 1
    if i == 3:
        break
else:
    print(0)

In [ ]:
myList = [1, 5, 5, 5, 5, 1]
max = myList[0]
indexOfMax = 0
for i in range(1, len(myList)):
    if myList[i] > max:
        max = myList[i]
        indexOfMax = i
print(indexOfMax)

In [ ]:
data = {1: {
        "id" : 390669115,
        "name" : "ProgramState",
        "dataTypeName" : "text",
        "description" : "",
        "fieldName" : "programstate",
        "position" : 7,
        "renderTypeName" : "text",
        "tableColumnId" : 75398319,
        "cachedContents" : {
          "largest" : "NY",
          "non_null" : "4",
          "null" : "0",
          "top" : [ {
            "item" : "NEWYORK",
            "count" : "4"
          } ],
          "smallest" : "NY",
          "not_null" : "4",
          "cardinality" : "1"
        }
}}

In [ ]:
data[1]["cachedContents"]['top'][0]['item']

In [ ]:
a=("Check")*3
print(a)

In [ ]:
import turtle
t=turtle.Pen()
for i in range(1,4):
	t.forward(60)
	t.left(45)

In [ ]:
import turtle
t=turtle.Pen()
for i in range(0,4):
	t.forward(100)
	t.left(90)
 
t.up()  
t.left(90)
t.forward(200)
for i in range(0,4):
	t.forward(100)
	t.left(90)

In [ ]:
import turtle
t=turtle.Pen()
for i in range(0,5):
        t.left(144)
        t.forward(100)

In [ ]:
for i in range(-3):
    pass